[2017-06-04 09:00] Nemo157 commented on #736
That was my assumption as well, but where is this enforced/mentioned at all? I just checked the source and [it definitely allows non-open source licenses to be uploaded](https://github.com/rust-lang/crates.io/blob/master/src/krate.rs#L186). As I mentioned above I could not find anything mentioned in the docs on crates.io itself. To make sure I just searched the source of both `crates.io` and `carg

[2017-06-05 14:34] steveklabnik commented on #736
It should; it's been on my plate for a while but I have not gotten to it.

[2017-06-05 18:18] Nemo157 opened #749 "Add an EULA/Terms of Service"
At a minimum `crates.io` should be requesting a license allowing it to host and re-publish users code to ensure no one can claim that it's doing that without a license (or that by doing so `crates.io` is violating some terms of whatever license they provided). A nice example is from the [`npm` EULA](https://www.npmjs.com/policies/open-source-terms#your-content):

(Forked from https://github.com/ru

[2017-06-05 18:23] steveklabnik commented on #749
/cc @rust-lang/core and me specifically

[2017-06-05 18:49] natboehm opened #750 "Add explanation to clarify what user should be seeing when setting up environment"
When completing the section on [Building and serving the frontend](https://github.com/rust-lang/crates.io/blob/master/docs/CONTRIBUTING.md#building-and-serving-the-frontend) it might be useful for the user to be able to see what should be happening if everything is working correctly once running `yarn run start`. At the conclusion of the section, including a screenshot of the page being served or

[2017-06-06 15:34] carols10cents commented on #721
Yup, great suggestion!

[2017-06-06 15:36] carols10cents commented on #728
Link to internals discussion: https://internals.rust-lang.org/t/maybe-pre-rfc-improving---in-cargo-crates-io/5251/11

[2017-06-06 15:39] carols10cents commented on #743
I don't think this feature would be useful; released versions should always be passing on CI. The CI badges are more of an indication of the general health of the project and a signal of active maintenance.

[2017-06-06 15:39] #743 closed

[2017-06-06 15:42] carols10cents commented on #737
Does the [No Standard Library category](https://crates.io/categories/no-std) not work for this?

[2017-06-06 15:48] carols10cents commented on #733
I'm not sure what's involved in this and whether or not enabling stapling is possible or desirable; I'll have to do some research.

If anyone reading this is knowledgeable on this subject, I'm interested to know:

- Does this change need to happen in crates.io's code base (server side) or cargo's code base (client side)?
- What are the implications of this change?
- Literally what do I do
- Crates

[2017-06-06 15:49] carols10cents commented on #728
I'm confused, if `-` and `_` are treated the same everywhere (assuming it's possible), then why is renaming needed at all?

[2017-06-06 16:00] dathinab commented on #728
I was approaching this problem from the angle that I would like to rename a `some_crate` named crate to `some-crate`.

I agree that one `_` and `-` are treated the same there is no reason to allow renaming (expect to change what is displayed as crate name in` crates.io`, but then renaming(-/_ only) would break thinks for people using a older cargo version and wouldn't be worth it).

Also by now th

[2017-06-06 16:31] natboehm opened #752 "Clarify path for publishing a crate to your local crates.io"
When setting up the crates environment, towards the end of the section [Publishing a crate to your local crates.io](https://github.com/rust-lang/crates.io/blob/master/docs/CONTRIBUTING.md#publishing-a-crate-to-your-local-cratesio), the description of the path to the directory `tmp/index-co` with the git index set up by `./script/init-local-index.sh` is confusing. Providing an example path for if t

[2017-06-06 16:48] Susurrus commented on #737
The no_std category isn't a complete solution because:
  * It segregates the ecosystem. It's not a feature category, it's a compatibility category. Even if I'm developing for no_std, I'm not browsing for compatibility I'm browsing for features. Making `no_std` cut across all categories (by adding a visible `no_std` badge to crates would be most helpful.
  * It doesn't incentivize people to create

[2017-06-06 17:19] natboehm opened #753 "Further explanation of publishing crates when setting up environment"
When setting up the crates environment, further explanation of publishing crates would be helpful after running the `cargo login` command within the [Publishing a crate to your local crates.io](https://github.com/rust-lang/crates.io/blob/master/docs/CONTRIBUTING.md#publishing-a-crate-to-your-local-cratesio) section. It might be useful to have something like two subsections here, one for those unfa

[2017-06-06 17:42] seanmonstar commented on #743
In this instance, I disagree. When reqwest v1.0 is released, and someone visits its crate page, it should show that v1.0 passed CI. As work on reqwest master continues, and inevitably something causes the build to fail, it would be quite damaging to show a CI failed badge on the crate page, even though 1.0 did pass.

Perhaps #540 better captures this idea, I haven't had time to digest it.

[2017-06-06 17:52] natboehm opened #754 "Provide diagram and more detailed explanation regarding local crates.io when setting up environment"
The section [Using your local crates.io](https://github.com/rust-lang/crates.io/blob/master/docs/CONTRIBUTING.md#using-your-local-cratesio-with-cargo) with cargo would be improved by providing a diagram to show the interactions of the different services we have thus far set up, creating a visual explanation of how things are supposed to be working.

It would also be helpful to provide a brief expl

[2017-06-06 21:11] marti1125 commented on #704
Hello @carols10cents I made list of tasks following the email
- [ ] Add another variant to the Badge enum https://github.com/rust-lang/crates.io/blob/master/src/badge.rs#L12
- [ ] Create that variant from the database in this match https://github.com/rust-lang/crates.io/blob/master/src/badge.rs#L48
- [ ] Add tests to https://github.com/rust-lang/crates.io/blob/master/src/tests/badge.rs
- [ ] Add a

[2017-06-06 22:53] est31 commented on #733
* Both server and client need support, but I want to keep this issue to track the server support. libcurl+openssl almost certainly has support, winapi SSL should have support as well. Rustls seems to have [no support](https://github.com/ctz/rustls/issues/31)?
* Implications are that clients which require ocsp checking for each ssl connection load faster, and that we are a bit more resilient agains

[2017-06-07 08:33] zofrex commented on #733
According to the headers returned, crates.io is running on nginx. If nginx is terminating SSL for the site then OCSP stapling can be enabled in the nginx config, which is usually straightforward:

[code]

[2017-06-07 14:04] PritiKumr commented on #494
@carols10cents This is a very cool feature and I'd love to work on this.

[2017-06-07 14:15] carols10cents commented on #494
Awesome! Do you have any questions about getting started?

[2017-06-08 00:27] jtgeibel opened #762 "Cargo test doesn't run diesel migrations until the `all` target"
On the contributing page under [running the background tests](https://github.com/rust-lang/crates.io/blob/master/docs/CONTRIBUTING.md#running-the-backend-tests) it states that "The test harness will ensure that migrations are run".  However, when attempting to run the tests for the first time I get errors from the `cargo_registry` target because the database tables don't exist yet.

I manually ran

[2017-06-08 04:56] jtgeibel opened #763 "Support connecting to postgres over a socket"
With the following line in my `.env` file I am able to run `diesel migration run` and access the database over the default postgres socket.  Note the 3rd slash, as no hostname is provided.

    export DATABASE_URL=postgres:///cargo_registry

However, this doesn't work with `cargo run --bin server` as I get an error from r2d2.

    ERROR:r2d2: Error opening a connection: Error communicating with th

[2017-06-08 09:22] vignesh-sankaran commented on #575
Hey, is this still an issue that is still blocked? If so, what's the block?

[2017-06-08 13:33] carols10cents commented on #575
I forget why I added the blocked label, tbh!

[2017-06-08 15:27] sgrif commented on #763
This will be implicitly fixed once the port to Diesel is finished.

[2017-06-08 15:27] #763 closed

[2017-06-08 20:36] natboehm opened #765 "Conflicting team id and user id under crate owners"
If a team owner and user owner of the same crate have the same id value, only one of the same id will be displayed under crate owners. This doesn't seem likely to occur in production, however in development the conflict is very likely.

[code]

[2017-06-08 23:10] carols10cents opened #766 "Switch back to npm 5 and remove yarn?"
For discussion. npm5 has a project lockfile now, which is the main reason I was interested in yarn.

Any other thoughts/opinions/pros/cons?

Anyone want to try switching us back?

[2017-06-09 00:49] locks commented on #766
cc @rwjblue @Turbo87, as this is an ember-cli project

[2017-06-09 08:28] Turbo87 commented on #766
I'd say keep yarn for now until npm5 has reached mainstream and people have gathered a bit of experience with it. In my initial tests yarn was still significantly faster than npm5 for some reason 🤔

[2017-06-09 15:00] steveklabnik commented on #766
As the person who did the switch, I would also still stick with yarn for a while, but if people felt strongly, I wouldn't object.

[2017-06-09 17:34] carols10cents commented on #750
Ooooh I just happened across someone linking to https://asciinema.org/ - it lets you record terminal sessions and then it hosts a little video like thing playing back the output! Example: https://asciinema.org/a/47vbdch8srbhf3j5kta7j9bov

It might be kind of cool to have a recording of setting up and running tests and things!

Or a screencast could work too, to be able to switch to the web browser

[2017-06-10 00:18] casey commented on #321
Okay, I dug into this a little bit and got things configured locally so that searching with stop words works.

Searching is a two step process, the query text is first turned into a `tsquery`, which is then used to search a `tsvector`. So, in order to make searching with stop words work, they need to be retained in both the `tsquery` and in the `tsvector`.

Search queries are turned into a `tsquer

[2017-06-10 21:40] #683 closed

[2017-06-10 21:40] #738 closed

[2017-06-10 21:47] carols10cents commented on #662
@cafreeman Sorry for the delay on this! Here's a read-only API key to librato: 4d0c9f61f7ce2dba4e1112183de6242af2451d924963595ed748e452d8651edb

I don't think we've decided which route we'd rather go, I'm up for trying either librato or statuspage or a combination of both or idk? :)

[2017-06-11 00:25] carols10cents opened #768 "Something about the ember upgrade broke navigating between pages sometimes :-/"
@locks halp :(

I rolled this back on production, but I have commit 1ac9e501418f2f3586a6e6aa374b2256d2004e73 deployed to https://staging-crates-io.herokuapp.com/ if you/anyone wants to take a look. I am also able to reproduce running the frontend locally with `yarn run start:live`.

One way to reproduce:

- Visit https://staging-crates-io.herokuapp.com/
- Click on "Browse All Crates" at the top, t

[2017-06-11 13:23] sgrif commented on #321
I don't think switching to using `simple` is the right call here. We're searching on a lot more than just the title, and we lose much of the functionality that way. I agree that searching for `which` should return the crate titled `which`, but excluding the crate `quale` is not a bug. `which` is a stop word for a reason. The solution here is likely just to add a `.or(crates::name.eq(q_string))` to

[2017-06-11 16:17] carols10cents commented on #736
I've added to the description a bunch of tasks that I think need to happen to complete this, and I've marked this issue medium because of all these tasks. I think each individual task should be fairly straightforward and E-easy though, and I'm happy to merge PRs that take care of one or a few of these tasks-- we can have the frontend keep using crate.license until the backend changes are complete.

[2017-06-11 16:29] carols10cents commented on #768
I've reverted the merge in 1ac9e50 (the merge of the PR of the ember upgrade) so that I can deploy other stuff while we figure this out.

[2017-06-12 12:06] #762 closed

[2017-06-12 13:30] Manishearth commented on #173
FWIW, https://github.com/Ralvke/cargo-find may help as a commandline cargo search tool.

[2017-06-12 13:47] cafreeman commented on #662
No worries! Now that I've got an API key I can see what we can get out of Librato :)

[2017-06-13 03:28] casey commented on #321
@sgrif That seems reasonable, I think that's a better fix.

[2017-06-13 11:55] PritiKumr commented on #702
Hey @carols10cents I wanna work on this. :)

I'm planning to go forward with option 2 preserving ability to sort by all time downloads. Let me know if its okay :)

[2017-06-13 12:55] carols10cents commented on #702
Yup, that sounds great!

[2017-06-13 13:15] carols10cents commented on #588
There are PRs out for the rest of this, I just need to review them!

[2017-06-13 13:21] PritiKumr commented on #494
Hey @carols10cents

So in terms of the tables and associations, shouldn't we be creating a table, probably called `favorite_users` which will have references to the favorited user and the currentUser?

The other alternative is to associate the user with `crate_owners` records, which is what I was initially thinking. But then a crate owner can be removed from a crate. So this would be not be a good

[2017-06-13 13:26] carols10cents commented on #494
Creating a favorite_users join table sounds right to me!

[2017-06-13 16:45] #574 closed

[2017-06-13 16:49] carols10cents commented on #575
Closed by #771!

[2017-06-13 16:49] #575 closed

[2017-06-13 22:04] bstrie opened #773 "Make it so that yanking every version of a crate prevents that crate from showing up in search results, or any other general list context"
Our typical policy for crates.io, designed to prevent rampant spontaneous breakage (a la npm's left-pad fiasco), is that crates cannot be "un-published". We do allow "yanking", however, to allow crate authors to designate that Cargo should not use that particular version unless a lockfile already exists using that version. In the interest of giving crate authors a bit more agency, I propose that y

[2017-06-13 22:15] SamWhited commented on #773
This is actually the current behavior; you get a "there are no published versions of this crate" page. I am not sure what the status code is off the top of my head.

I very much agree with this proposal; crates that are yanked clutter up search results, and make my author dashboard more irritating (they show up there too, and may have similar names to things that replaced them which is confusing).

[2017-06-14 00:06] carols10cents commented on #773
Closing as a duplicate of #145, please see the prior discussion over there! Thanks!

[2017-06-14 00:06] #773 closed

[2017-06-14 02:53] fangyuanziti opened #774 "Can not search the `which` crate in crates.io"
I published a crate named `which` is crates.io. Howerver I can not find it by search `which` keyword in the website. Can you guys give me some suggestion to fix it?

The `which` crates address:
https://crates.io/crates/which

[2017-06-14 11:03] elliotekj opened #776 "Travis is failing during setup"
Travis seems to failing whilst setting up diesel_cli:

![screen shot 2017-06-14 at 12 53 30](https://user-images.githubusercontent.com/1547124/27128864-89f7a684-5100-11e7-8d2c-248544859e48.png)

I'm seeing this in https://github.com/rust-lang/crates.io/pull/775 but @Turbo87 is seeing it too in https://github.com/rust-lang/crates.io/pull/772.

At the time of writing this, https://github.com/rust-la

[2017-06-14 12:41] carols10cents commented on #776
Ah, we [added cache: cargo: true](https://github.com/rust-lang/crates.io/commit/209dab0f40bbcaa7826188dd3d3ff85b72005ecd#diff-354f30a63fb0907d4ad57269548329e3). We should probably add `--force` to always get the latest version of diesel, as the error message suggests. Can you send me a PR? Otherwise I can get to this in a few hours :)

[2017-06-14 12:44] carols10cents commented on #774
Closing as a duplicate of #321. Sorry about that, we'll work on fixing it soon!

[2017-06-14 12:44] #774 closed

[2017-06-14 14:04] carols10cents commented on #626
I'm still not sure the *best* way to implement this, but here's *a* way that I think we could try and iterate on. Let's just start with a list of blocked domains first:

- In the backend, have a hardcoded list of blocked domains, start with `rust-ci.org`
- In the JSON for each crate, where we currently send: `documentation: "[url]"`, if the url is in the list of blocked domains, do not send the do

[2017-06-14 14:12] PritiKumr commented on #494
@carols10cents could you elaborate more on what sort of things would be useful to show here? I was thinking we can show things like new crates, version updates, users / crates they follow. But then this would probably require us to have an activity feed system to implement this effectively, which could be a separate task on its own.

Wondering if we can just list the favorite users in the dashboar

[2017-06-14 14:16] elliotekj commented on #776
Good call @carols10cents — adding `--force` fixed the diesel_cli issue. Unfortunately Travis failed with a similar error when installing rustfmt.

![screen shot 2017-06-14 at 16 09 43](https://user-images.githubusercontent.com/1547124/27136821-83720112-511c-11e7-8356-182e9cc84b51.png)

If `--force` is going to be needed on both of the `cargo install`s then reverting https://github.com/rust-lang/cr

[2017-06-14 14:33] carols10cents commented on #494
Yeah, I think just having a list of favorite users on the dashboard (and the ability to unfavorite them there) is a great start!

[2017-06-14 14:41] carols10cents commented on #776
I think it'll cache all of our other dependencies, which should help overall time of the travis builds. I think adding `--force` to rustfmt too is fine!

[2017-06-14 14:43] elliotekj commented on #776
Right'o, I'll make the change :)

[2017-06-14 17:34] #776 closed

[2017-06-16 11:00] vignesh-sankaran commented on #645
I'd be happy to take this up @carols10cents, I'm not sure how to test the script though once the changes are made.

[2017-06-16 13:58] carols10cents commented on #645
@vignesh-sankaran yeah, this script is only run occasionally, so I think manual testing is fine. You'll need to create two users, publish a crate with one user, then run this script to transfer the crate to the other user. Then check that the UI shows the crate as being owned by the second user, and that the second user can publish new versions of that crate and the first user cannot.

Publishing

[2017-06-17 12:12] xianghx opened #783 "dependencies some wrong"
First , enter https://crates.io/crates/futures-cpupool
Dependencies
    futures ^0.1
    num_cpus ^1.0

hit  futures ^0.1,  enter https://crates.io/crates/futures
and then   press  <-- history back:

https://crates.io/crates/futures-cpupool
Dependencies
    futures-cpupool ^0.1 ------------------>> wrong here
    num_cpus ^1.0

hit    num_cpus ^1.0  and then history back:
https://crates.io/crates/

[2017-06-17 16:07] carols10cents commented on #482
Ooops we already have an issue for that actually, closing this as a duplicate of #306 .

[2017-06-17 16:07] #482 closed

[2017-06-17 19:21] carols10cents commented on #768
Fixed by #779 !

[2017-06-17 19:21] #768 closed

[2017-06-17 21:06] #321 closed

[2017-06-17 21:07] sgrif commented on #588
I think we can safely close this issue though at this point. It's been thoroughly considered. :D

[2017-06-17 21:07] #588 closed

[2017-06-18 04:44] newpavlov opened #784 "Mark target dependencies in the dependency list"
Same as in #233 I think it's worth to indicate which dependencies are listed in the `[target.<..>.dependencies` sections. To not confuse with "optional" it will be better to mark them with the different word, for example "target".

[2017-06-18 09:44] Gedweb opened #786 "Suggest append a voting"
Guys, i suggest append a functionality for voting by package. Some rate system like a stars on github. Currently to hard observe - how helpful some crate.

[2017-06-18 19:53] sgrif commented on #786
This sort of thing would require an RFC at minimum. There was significant discussion around these sorts of metrics in https://github.com/rust-lang/rfcs/pull/1824

[2017-06-18 19:53] #786 closed

[2017-06-20 07:02] kud1ing opened #788 "Crates.io returns mostly 404"
Maybe this is a duplicate of other 404-issues here, i am not sure.

`awesome-rust` uses `awesome_bot` to check links.
Unfortunately many (all?) links to crates.io return 404: https://travis-ci.org/rust-unofficial/awesome-rust

`curl https://crates.io/keywords/cassandra` receives a 404, too.
I am a web noob. Is there somwething that needs to be configured on the server or client?

[2017-06-20 12:14] carols10cents commented on #788
I think we are doing something nonstandard, but I'm not sure what. Until we figure this out, a workaround is specifying HTML as the content type you want:

[code]

returns a 200 for me. Hope that helps!

[2017-06-20 16:41] kud1ing commented on #788
Please give us a heads up when this is resolved.
`crates.io` was whitelisted in https://github.com/rust-unofficial/awesome-rust/pull/310
I'd like to revert this finally.

[2017-06-21 12:56] #409 closed

[2017-06-21 12:56] #765 closed

[2017-06-21 13:51] carols10cents opened #791 "Need to update text about what `cargo login` does"
API tokens are in the process of being moved to `~/.cargo/credentials` instead of `~/.cargo/config`: https://github.com/rust-lang/cargo/pull/3978

This is currently in the version of cargo shipping with nightly rust.

Before this change makes it to stable, we should update [this text](https://github.com/rust-lang/crates.io/blob/0f3adf36108dfac662e3463b4ff97567261f5de9/app/templates/me/index.hbs#L3

[2017-06-23 14:18] locks commented on #306
Back button works properly for me, but I still see the problem with OP's reproduction.

[2017-06-23 15:17] Turbo87 commented on #306
the issue here is as follows:

when we visit `/crates/itertools` it will download the dependencies from `/api/v1/crates/itertools/0.6.0/dependencies` which includes:

[code]

when we click on the `either` dependency on the page it will request data from `/api/v1/crates/either/reverse_dependencies` which includes:

[code]

when we click the back button Ember Data will reuse the dependencies that it

[2017-06-23 22:07] sfackler opened #800 "Support badges from CircleCI"
https://circleci.com

[2017-06-24 07:26] vignesh-sankaran commented on #626
I'd be happy to take this up @carols10cents

[2017-06-24 10:23] Nemo157 commented on #27
And now there's a [discussion on `users`](https://users.rust-lang.org/t/publishing-crates-from-the-same-workspace/11518?u=nemo157) about this issue because of proc-macros.

I'm in favour of having a "batch publish" for workspaces, even just for non-circular dependencies it would save me having to work out what order I need to publish crates in.

One slight complication is that not every crate in t

[2017-06-25 19:55] leonardo-m opened #804 ""See also" metadata field in Cargo.toml, displayed on crate page"
An enhancement request: I suggest to add to Cargo pages a "See also: ..." field, where you can list similar/related crates.

[2017-06-26 02:50] carols10cents commented on #804
"you" meaning the crate author or "you" meaning anyone?

[2017-06-26 02:57] carols10cents opened #808 "Allow editing your own email address"
We save the email address that we get through github oauth, but you can have multiple email addresses or no email address publicly viewable from your github account.

We don't actually use user email anywhere right now, but before we add anything that might use it (ex: alerts/notifications), we should make it editable (and confirm email address before sending email to it)

[2017-06-26 07:14] locks opened #809 "Possible anti-pattern for using sudo to install node/npm/yarn in CONTRIBUTING.md"
CONTRIBUTING.md has the following note, which I believe is an anti-practice:

As far as I know, installing node/npm/yarn with sudo is not recommended and a sign that something went wrong with the installation process.
Can someone else confirm that we should remove it? cc @ashleygwilliams

[2017-06-26 07:17] leonardo-m commented on #804
I meant the crate author. Those pages aren't wikis yet, so I think the crate author is the safest first step.

[2017-06-26 15:02] carols10cents opened #814 "Filter by bin/lib"
Related to, but not quite the same as #483: have a way to filter crates by those that contain binaries or are binary-only, or the opposite, that have a library component.

[2017-06-26 15:06] carols10cents commented on #804
I see; we'll consider it. In the meantime, any crate author can indicate this in their description if they so choose.

[2017-06-26 20:01] ruuda commented on #160
Here’s a suggestion for a small change that could help a lot: add a `changelog` field to the crate metadata, similar to `homepage`, `repository` and `documentation`. Crates.io would include a link to the changelog under the “Links” section, similar to the other fields.

People could link it to a `changelog.md` file in a repository browser such as GitHub, or to a dedicated page on a project site.

[2017-06-26 23:08] Diggsey opened #815 "Lessons from recent NPM password vulnerabilities"
See https://github.com/ChALkeR/notes/blob/master/Gathering-weak-npm-credentials.md for reference.

Cargo/crates.io is less affected than NPM, since it relies on github authentication for publishing, which one would expect to already be fairly well hardened against these kind of brute-forcing attacks. However, this doesn't prevent the use of leaked passwords and other human errors.

AFAICT, these a

[2017-06-27 22:28] carols10cents opened #820 "Switching to ember-fetch causes github oauth to fail with error "invalid state parameter""
This happened on production when I deployed e921c6eb; the previous deploy of 9172aa4f worked. A bisect pointed to this commit: https://github.com/rust-lang/crates.io/commit/dbc1c9a08b3d9f79fab8e4bef27692aeb38f5a42

I'm reverting that commit, which fixes the problem....

[2017-06-28 14:39] locks opened #827 "Meta | Improve front-end testing suite"
- [ ] Check flash errors behaviours and flows (https://github.com/rust-lang/crates.io/pull/823)

[2017-06-29 00:29] ashleygwilliams commented on #766
hi. i would like to both highly recommend that we switch to npm5 but i also volunteer to do it.

turns out, it actually Just Works. but i can help update the docs and remove the yarn lock file.

[2017-06-29 04:34] carols10cents opened #836 "Dependent crates page isn't displaying the crate name; "back to" link doesn't"
I suspect these two symptoms are related. Here's what happens:

- Visit https://crates.io/crates/libc/reverse_dependencies
- The "back to" link at the top just says "back to", but should say "back to libc"
- Clicking on the "back to" link has no effect
- It says "Displaying 1-10 of 1371 reverse dependencies of ", without libc displayed at the end

This is happening on crates.io, which is currently

[2017-06-29 04:40] carols10cents commented on #836
Bisecting is pointing to 0fe04854dca23cf11810bb9c86a74f18669fcf08 @locks

[2017-06-29 04:45] carols10cents commented on #836
I'm reverting that commit on master for now :)

[2017-06-29 04:50] carols10cents commented on #836
Nm, not reverting, this is the problem: https://github.com/rust-lang/crates.io/commit/0fe04854dca23cf11810bb9c86a74f18669fcf08#commitcomment-22824481

[2017-06-29 04:56] #836 closed

[2017-06-29 20:31] sivakumar-kailasam commented on #820
@carols10cents we're good on this now that we've moved to ember-ajax to be FastBoot compatible via #838

[2017-06-30 05:59] behnam opened #841 "Grepping all the Rust code"
GitHub already allows searching in the code, but it's not always easy to grep in *all the Rust code*: If the search term is generic and matches projects in other languages better, "Rust" won't be listed in the sidebar and you'll have to edit the URL manually to get what you need.

Example: https://github.com/search?utf8=%E2%9C%93&q=hello&type=Code

I think somewhere there should be an easy-to-use

[2017-06-30 08:29] locks commented on #841
Fo reference: http://codeallday.com/blog/how-ember-observer-searches-addon-source-code/

[2017-06-30 15:04] jugglerchris commented on #240
You get something very similar going to a non-existant crate, for example https://crates.io/crates/adsfadf , but it does also say "Create adsfadf does not exist" and "e is undefined".  Not sure if that's a separate issue!

[2017-06-30 16:15] carols10cents commented on #841
Crates.io isn't planning on providing a way to view source code, so there won't be a way to search through all crates' code. Perhaps docs.rs would be interested in this? https://docs.rs/ https://github.com/onur/docs.rs

Thank you for the suggestion though!

[2017-06-30 16:15] #841 closed

[2017-06-30 16:40] carols10cents opened #843 "Comparison view"
- After you search or look in a category/keyword
- Be able to choose a few crates
- See a more direct, more focused view of crate comparison

I will add some more details here later, mostly just putting this in so I don't forget and to see if anyone else thinks this is useful!

Inspired by a comment at the work week made by @dtolnay -- is this along the lines of what you were talking about?

[2017-07-01 00:00] dtolnay commented on #843
Thanks for filing this. In an ideal world I would like to be able to search crates.io for the word "yaml" and have [`yaml`](https://crates.io/crates/yaml) and [`yaml-rust`](https://crates.io/crates/yaml-rust) and [`serde_yaml`](https://crates.io/crates/serde_yaml) show up. Then I would want to see a curated, concise overview of why I might want to choose a particular one of these over the others.

[2017-07-01 20:10] dtolnay opened #844 "When a crate does not exist: e is undefined"
![selection_058](https://user-images.githubusercontent.com/1940490/27765120-79bd60d6-5e5e-11e7-8e86-d08f7ab190a4.png)

The stacktrace is:

[code]

[2017-07-01 20:11] dtolnay commented on #240
I filed #844 for the non-existent crate issue. I think that one is a recent regression.

[2017-07-01 23:42] #688 closed

[2017-07-02 14:27] Nemo157 opened #849 "Allow restricting API token to publish a subset of crates"
Now that #688 is available, it would be great to be able to generate a token that is only able to publish a single/limited subset of crates. (A subset to account for things like `proc-macro` crates commonly being published as a pair of relatively tightly coupled crates).

I'm not sure exactly where the UI for creating these tokens should go, one idea I have had so far:

* In the "New Token" row on

[2017-07-02 14:41] Nemo157 commented on #788
Yeah, this is caused by https://github.com/rust-lang/crates.io/blob/a20eb96877d32bff6b5b9ac8ea3dfc497b5351b9/src/dist.rs#L38-L52

Interestingly requesting _any_ URL with `Accept: text/html` will return 200 since the server doesn't know what the valid routes are (e.g. `curl -H 'Accept: text/html' -I https://crates.io/foo/bar`)

I don't think there's any way to have a bot validate URLs on crates.io

[2017-07-02 18:16] locks commented on #788
FYI, you can track server-side rendering efforts at https://github.com/rust-lang/crates.io/pull/819.

[2017-07-03 14:00] #306 closed

[2017-07-03 15:12] remram44 commented on #626
Hi,

While implementing blacklisting is probably a good idea and should be done soon, I think it is easy to remove the rust-ci.org links right now. This issue has been opened for 4 months and links to this dubious, potentially harmful website are still up. Not to mention they are profiting off of crates.io pointing to it.

[2017-07-05 12:33] carols10cents commented on #626
Hi, it is not easy. Sorry!

[2017-07-07 03:45] sfackler commented on #849
This would be fantastic for things like publishing automatically in CI builds.

[2017-07-07 03:47] sfackler opened #855 "Total downloads count isn't comma separated on user page"
![capture](https://user-images.githubusercontent.com/1455697/27942506-47f8b456-628c-11e7-98c4-5071dc596e27.PNG)

[2017-07-07 16:43] MoSal opened #856 "API/reverse_dependencies: "crate_id" should be the dependency id, not the crate id"
Probably caused by 653945f0f4917516dd0afaf695ff855fa5cb4896

[code]
[Example of 3d party code that broke](https://github.com/rust-alt/cargo-esr/blob/e5fe9329e6bf5b7d7f1dc876916913f8bd2f8d9f/src/esr_crate.rs#L403-L410).

[2017-07-07 17:58] carols10cents commented on #856
@Turbo87 could you take a look at this when you have a chance please? Thank you! ❤️

[2017-07-07 18:09] Turbo87 commented on #856
That is precisely the issue that was fixed. version_id is referencing the correct thing that you are looking for and should be included in the same response

[2017-07-07 18:47] carols10cents commented on #843
Yeah that's the part where I'm wary about this :-/ In addition to the moderation perspective, people need to put in this work for every possible search....

[2017-07-07 18:52] carols10cents commented on #855
Thank you for the report! I think [this spot](https://github.com/rust-lang/crates.io/blob/master/app/templates/dashboard.hbs#L9) needs to call the [`format-num` helper](https://github.com/rust-lang/crates.io/blob/master/app/helpers/format-num.js#L3), like, for example, [the crate-row template does](https://github.com/rust-lang/crates.io/blob/master/app/helpers/format-num.js#L3).

[2017-07-07 21:42] MoSal commented on #856
I'm not sure I understand.

In the snippet above, I expected the first `crate_id` to be `iron`, the second one to be `reqwest`, and the third one to be `rusoto`. That was the previous behavior.

Are you saying that the previous behavior was wrong, and the change to the current one was intentional?

[2017-07-07 22:09] Turbo87 commented on #856
Yes, that is what I'm saying. It returns "dependency" records and they go from version to crate independent of if it's reverse or not.

[2017-07-08 00:07] carols10cents commented on #856
Could we add a `dependency_id` field for the IDs of iron, reqwest, and rusoto? Or would that confuse ember?

[2017-07-08 11:32] Turbo87 commented on #856
I'd rather call it `version_name` or something like that. It would be redundant information though since the same thing is also stored in the `version` record that is attached to the request. tl;dr I don't see the need for it 🤔

[2017-07-08 14:35] #583 closed

[2017-07-08 15:47] carols10cents commented on #856
Ah, yep, I see. @MoSal cargo-esr can get the name of the crate by matching the `version_id` in the `dependencies` records with data in the `versions` records; for example, in the response you showed, the name for "iron" can be found by matching the dependency record's version_id 42224 with the versions record with id 42224:

[code]

Essentially, cargo-esr was relying on a bug of ours. Sorry about

[2017-07-08 15:47] #856 closed

[2017-07-08 18:34] DorianListens opened #866 "Dashboard page returns 502 if user doesn't have any published crates"
After signing in via GitHub, visiting the "Dashboard" page results in an unfriendly error page if you haven't published any crates.

Since this page is accessible, and the first link presented after clicking on your avatar, it should handle the first time user use case gracefully.

![screen shot 2017-07-08 at 1 32 20 pm](https://user-images.githubusercontent.com/5692947/27988199-ea39faa8-63e1-11e7

[2017-07-08 21:01] carols10cents commented on #866
Yup, we're on it! This is a problem with Diesel, actually, so we're going to have @sgrif fix the root problem upstream. See commentary here for more info: https://github.com/rust-lang/crates.io/pull/864

I'm glad to have an issue to track this, though, thank you! ❤️

[2017-07-09 01:55] carols10cents opened #868 "Write some integration tests"
Right now we've got the frontend tests in `/tests`, and the backend tests in `/src/tests`. The frontend tests use mirage to make a fake backend, and the backend tests assert some things about the JSON but not everything, and the backend tests create requests to the backend that might differ from what the ember frontend is doing.

Often I catch stuff by running the full app locally or on staging, a

[2017-07-09 17:41] #766 closed

[2017-07-10 09:54] HeapUnderfl0w opened #873 "https://crates.io/crates/getopt shows javascript error"
This may be related to issue #717 even though the console reports an 404 error.

When i browse to https://crates.io/crates/getopt i get the expected `Crate 'getopt' does not exist` error on the top of the page. Additionally i see an JavaScript error.

It appears on 3 different browser's (on the same machine) and on my mobile phone.
### Home Laptop
Microsoft Windows 10 Version 1703
#### Vivaldi (Ch

[2017-07-10 12:48] vignesh-sankaran commented on #868
I'm happy to take this up as my next task @carols10cents :).

[2017-07-10 14:27] carols10cents commented on #873
Thanks for this report! This is a duplicate of #844 actually, I'm closing as such :)

[2017-07-10 14:27] #873 closed

[2017-07-11 15:11] sunjay opened #877 "Reserved Crate Names Do Not Load: Cannot read property 'get' of undefined"
This bug occurs when you visit:
* https://crates.io/crates/rustc
* https://crates.io/crates/crates.io
* and any other [reserved crate name](https://github.com/rust-lang/crates.io/blob/b0a7a8d2f4356f38145cbbb05715ed0eedb136ce/migrations/20170305095748_create_reserved_crate_names/up.sql)

![screenshot from 2017-07-11 11-07-16](https://user-images.githubusercontent.com/530939/28075396-5cf19b7a-6629-1

[2017-07-11 15:24] ashleygwilliams commented on #877
hey @sunjay thanks for reporting this! i'm gonna take a stab at solving it today and will let you know the status update when i have one!

[2017-07-11 19:45] carols10cents opened #879 "Make the git SHA of the currently deployed code visible through ember-cli-app-version"
I had this at a previous job and it was *incredibly* useful-- anyone could help debug a problem with the additional information of knowing whether the current master branch matches what's on production.

As discussed below, the frontend part is blocked waiting on [this PR](https://github.com/EmberSherpa/ember-cli-app-version/pull/42) to ember-cli-app-version.

The backend way to get this info isn'

[2017-07-11 21:26] #800 closed

[2017-07-11 22:16] fst3a opened #880 "Something Went Wrong! Crate 'webgl' does not exist"
Gee, I accidentally typed in some random letters and this happened.

https://crates.io/crates/webgl

[code]
![image](https://user-images.githubusercontent.com/25141408/28093380-b0a94382-669f-11e7-9670-be604b480cf7.png)

[2017-07-11 22:18] fst3a commented on #880
Oh, it seems it has already been reported https://github.com/rust-lang/crates.io/issues/877

[2017-07-11 22:18] #880 closed

[2017-07-12 15:33] locks commented on #879
@carols10cents Have you seen [ember-cli-app-version](https://github.com/EmberSherpa/ember-cli-app-version)?

[2017-07-12 16:34] carols10cents commented on #879
I HAVE NOT BUT THAT'S WHAT I WANT!!!!!!!!!!!

[2017-07-12 18:32] #866 closed

[2017-07-12 19:57] carols10cents commented on #866
This is fixed and deployed now! Sorry for the inconvenience!

[2017-07-13 03:43] #855 closed

[2017-07-13 16:07] nagisa opened #884 "Searching for stm32f103 does not find stm32f103xx crate"
What the title says.

Searching for stm32 does find it though (2nd page).

[2017-07-13 20:41] sgrif commented on #884
Seems like full text search doesn't match this, since there's no common root between them (as they aren't real words). Should be easy to fix, we should probably just add an `OR name LIKE '%search%'` onto the query.

[2017-07-14 19:16] ashleygwilliams opened #886 "redundant `reserved_crate_name` checks"
in an attempt to address https://github.com/rust-lang/crates.io/issues/877 i bumped into the fact that we check if a crate has a reserved name in two places:

- `krates.rs`: https://github.com/rust-lang/crates.io/blob/c66f6e2fc5a5e4ac03488f9dad461b980c5def8e/src/krate.rs#L226-L243
- `up.sql`: https://github.com/rust-lang/crates.io/blob/b0a7a8d2f4356f38145cbbb05715ed0eedb136ce/migrations/2017030509

[2017-07-14 19:16] ashleygwilliams commented on #886
cc @carols10cents @natboehm

[2017-07-14 20:04] sgrif commented on #886
One check is for the user facing error, the other check is for actual data integrity protection.

[2017-07-14 20:05] sgrif commented on #886
Both were added in https://github.com/rust-lang/crates.io/commit/a740f3921714bc2e4f4745be5809202f6adca482

[2017-07-14 21:18] carols10cents commented on #886
thanks! when would it be possible to get past the user-facing-error-check to create invalid data if the data integrity check isn't there?

[2017-07-15 04:11] #645 closed

[2017-07-15 21:00] sgrif commented on #886
I honestly don't know. I do know that having a constraint at the database level is the best way to make sure that it never happens as a result of future changes.

[2017-07-16 20:22] stpettersens opened #888 "Does not stay signed in"
I've noticed while using Crates.io recently that the log in sessions are very flakey.

I log in in multiple times and each time my session lasts less than a minute or so before I have to log in again. So much so that Github actually requested I reauthorize as the log in rate is suspicious.

Is this just me or are other people having this problem recently.

Cheers,

Sam.

[2017-07-16 23:24] carols10cents commented on #888
I would be interested in hearing from people if this is the case-- while working on crates.io, I do strange things like clearing cookies, switching servers, switching logins, etc so I'm not a typical user. I haven't noticed this though, but I'll try and keep an eye on it now.

Thank you for the report, I'm sorry this is happening and I hope we can figure it out soon! 🎏 🔜

[2017-07-16 23:25] carols10cents commented on #888
Oh also do you have a sense of how recently is recently? I know this might be hard to remember, but like in the last week? The last month? The last three months? That might help us narrow it down.

[2017-07-16 23:44] sgrif commented on #888
Random data point -- I am not currently logged into crates.io upon visiting, and there's no reason I should not be. I'm not sure when the last time I logged in on this machine was (my expectation is that session expiry would be one year)

[2017-07-17 00:08] stpettersens commented on #888
@carols10cents: Oh of today. Couple hours ago using Vivaldi 1.10.847.48. Noticed it doesn't seem to be happening in Firefox. I'll try Chrome, if it's a browser problem I think Chrome should be the same as Vivaldi.

[2017-07-17 01:17] carols10cents commented on #888
@stpettersens so yesterday was fine? That is, when was the last time you had visited crates.io when login was behaving as expected? Thank you for the additional information!

@sgrif just in case this is relevant, what browser are you using?

[2017-07-17 01:20] carols10cents commented on #888
Mostly for my own records, here are the last bunch of deploys to productions by date and commit:

v264  Deploy ce47e8c4 2017/07/14 18:46:51 -0400
v263  Deploy 111c9a86  2017/07/12 15:55:31 -0400
v262  Deploy d5f9cdd2  2017/07/12 09:08:39 -0400
v261  Deploy 38527370  2017/07/11 16:19:50 -0400
v260  Deploy 00251a74  2017/07/09 15:07:20 -0400
v259  Deploy 70b5481f   2017/07/08 14:37:30 -0400
v258  De

[2017-07-17 12:46] sgrif commented on #888
@carols10cents Chrome

[2017-07-17 13:33] stpettersens commented on #888
@carol10cents: I think its probably a Chromium related issue because
Vivaldi and Chrome seem to be affected. I noticed the problem first
yesterday. Everything was fine the times I used Crates before, which was
probably a few months back. Don't typically need to sign in.

On 17 Jul 2017 13:46, "Sean Griffin" <notifications@github.com> wrote:

[2017-07-17 14:53] carols10cents commented on #886
yeah. idk. i'm going to think on this for a bit.

[2017-07-17 15:01] carols10cents opened #889 "Search update trigger causing warnings: words longer than 2047 characters are ignored"
Logging this mostly for myself since this probably needs some investigation of the production data to fully debug...

I'm seeing a lot of messages in the logs like this:

[code]

The crates name search trigger happens [every time we update a crate row](https://github.com/rust-lang/crates.io/blob/b0a7a8d2f4356f38145cbbb05715ed0eedb136ce/migrations/20141020175650_dumped_migration_76/up.sql#L18), whi

[2017-07-17 15:28] nodakai commented on #791
+1 to not mentioning the file path at all. Knowing the path won't help users very much as they aren't supposed to tweak the credentials manually.

Also,
[code]
we should not encourage users to type their credentials onto their shell prompt.  Other users on the same server may read it with `ps -a` (don't think it's a momentary event; slow NFS might keep the process for tens of seconds.) Users shoul

[2017-07-17 17:34] carols10cents commented on #791
care to send in a PR @nodakai ?

[2017-07-17 20:07] sgrif commented on #889
I suspect the query to find this would be roughly `where (coalesce(name, '') || coalesce(keywords, '') || coalesce(description, ''), coalesce(readme, '')) ~ [^ ]{2048}' `

[2017-07-17 20:09] sgrif commented on #889
lol PG can't handle a regex with a repeater that large

[2017-07-18 01:23] jtgeibel commented on #888
Here is the behavior that I am seeing.  I can log in and navigate within the app with no issues.  If if refresh the page or manually navigate (alt+d, enter) then I'm redirected to the root and shown "Please log in to proceed".

The manual page load appears to be sending a valid cargo_session cookie in the request.  In fact, the cookie's value never changes even after logging back in.  I'm on Firef

[2017-07-18 01:38] vignesh-sankaran opened #890 "Rename cargo_registry to crates.io"
For clarity's sake, we could rename cargo_registry to crates.io throughout the codebase, since I wasn't aware that this was what crates.io used to be called until recently.

[2017-07-18 02:00] jtgeibel commented on #879
I'd be interested in helping with the backend implementation.  I think we would have to capture the git sha during the build.

It looks like https://github.com/rustyhorde/vergen would be an option.  It also looks like the next stable release (this week already?) will allow for setting environment variable from the build script.  https://github.com/rust-lang/cargo/pull/3929#issuecomment-295837043

[2017-07-18 02:19] vignesh-sankaran opened #891 "Frontend running against live backend doesn't login"
I'm able to get past the OAuth screen when attempting to login while running the frontend against the live site, but the `Login with GitHub` text isn't replaced with my account name. The OAuth window opens again when I click the `Login with GitHub` button. This functionality works properly when I run against a local backend.

[2017-07-18 12:37] carols10cents commented on #890
I'm on the fence about this-- "crates.io" *is* what we call this application, and I do generally like the code to match whatever terms people are actually using. However, crates.io is also the URL, and if we support running mirrors or internal company instances, then this codebase will be running somewhere that *isn't* http://crates.io, and will *that* be confusing? I don't know! :)

Can you elabo

[2017-07-18 12:38] carols10cents commented on #879
@jtgeibel do you think we need a backend implementation? The backend and frontend should be running the same SHA, right?

[2017-07-18 12:42] carols10cents commented on #891
Yes, the redirect URL specified in github for the production credentials isn't going to redirect to your local instance. I don't think there's a way to make this work, do you know of a way?

[2017-07-18 12:51] vignesh-sankaran commented on #890
I felt most confused when looking at the `lib`, and found it interesting it was named `cargo_registry`. I feel the DB being called `cargo_registry` was less confusing because I associated registry with a DB :). The confusion came because the application is crates.io, but the `lib` uses a different name, which I haven't seen up till now.

Regarding the use of crates.io for private registries, hmm w

[2017-07-18 15:05] sgrif commented on #888
Just to chime in, I can confirm the issue. I am not logged in today when I was yesterday

[2017-07-18 23:13] jtgeibel commented on #879
@carols10cents that's a really interesting question that I hadn't thought about.  In production they should never diverge, but during development they would when using `npm run start:live` or `npm run start:staging`.

I'm new to ember and originally misunderstood how ember-cli-app-version works.  I've looked at it closer and I now believe it gets the SHA during the build and then stores this in a

[2017-07-19 01:26] carols10cents commented on #879
OOOOHH hhhmmmmm!! good point!

Orrrr if you're not running the frontend at all! I don't know if there are any deployments like this out there, but theoretically you *could* just run the backend and only interact with the API, in which case a backend API to get this would be nice.

I think I would merge PRs for either or both :)

[2017-07-19 23:51] jtgeibel commented on #879
So it looks like we're already using ember-cli-app-verison.  Now that I have the front-end up and running locally I see the version reported as `0.0.0+ccadd334`.  However, on production there is no git hash, it is only `0.0.0+`.

It seems the git repository is not available at build time on heroku.  Instead a SOURCE_VERSION environment variable is provided to the build.  There is a pull request up

[2017-07-20 16:19] stpettersens commented on #888
@carols10cents: Does seem to be a cookie problem.

On 20 July 2017 at 17:12, Carol (Nichols || Goulding) <
notifications@github.com> wrote:

[2017-07-20 20:15] tbu- commented on #204
`ember-fastboot` 1.0 is live: https://github.com/ember-fastboot/ember-cli-fastboot/issues/396#issuecomment-316774477.

[2017-07-21 14:36] carols10cents opened #894 "Documentation link can go to latest published version, not latest non-pre-release version"
Which can be confusing.

Example:
- https://crates.io/crates/data-encoding currently recommends installing v1.2.0, since that's the latest non-pre-release version
- Version 2.0.0-rc.1 has been published.
- Documentation link does go to https://ia0.github.com/data-encoding/v2.0.0-rc.1/data_encoding, which is what was specified in 2.0.0-rc.1's Cargo.toml.

Now, we could switch to storing documentati

[2017-07-22 09:19] steverob commented on #494
@carols10cents  here are two options regarding the UI indication part of this issue -

**Highlighted background: **
![2017-07-22_14-39-56_scrot](https://user-images.githubusercontent.com/1220480/28489951-a53a0982-6eec-11e7-96ad-7e3a82f65df4.png)

**Gold crate name**
![2017-07-22_14-38-04_scrot](https://user-images.githubusercontent.com/1220480/28489952-a539ff3c-6eec-11e7-873c-ae3dc55d8166.png)

We

[2017-07-22 13:30] carols10cents commented on #808
@natboehm is working on this!

[2017-07-22 14:02] sgrif commented on #888
This actually looks like it 100% is a cookie problem. We are not setting any expiration on the cookie when it's sent to the browser, so it defaults to a session cookie. We should be setting a year long expiry.

[2017-07-22 14:43] carols10cents commented on #494
I think I like the highlighted background better!

Sounds great! Let's try the highlighted background option-- my concern with the star icon is that people would expect to be able to click on the star to favorite *crates* and see how many other people have starred it (something people have requested that we don't have plans to do so I don't want to get people's hopes up ;))

[2017-07-22 15:05] carols10cents commented on #888
ok well there's also this change https://github.com/conduit-rust/conduit-cookie/pull/4 that will invalidate everyone's cookies as well, so before we fix everyone's cookies i think i want to make that change. will try to get a version bump over there

[2017-07-22 15:28] carols10cents commented on #888
I'm confused, shouldn't a session cookie only log you out when you close your browser? Why does a page reload invalidate the session?

[2017-07-22 15:35] stpettersens commented on #888
That's true. Something's funky.

On 22 Jul 2017 16:28, "Carol (Nichols || Goulding)" <
notifications@github.com> wrote:

[2017-07-22 21:10] carols10cents commented on #888
ugggghhhh I can't get reproduce locally, not even if i set up a hostname that's not localhost/127.0.0.1

[2017-07-22 21:11] carols10cents commented on #888
!!! i can't reproduce on https://staging-crates-io.herokuapp.com either!!! curiouser and curiouser...

[2017-07-22 21:31] sgrif commented on #888
It should generally not clear on a page reload, but it's highly dependent on your browser's settings.

[2017-07-22 22:45] jtgeibel commented on #888
I found some steps that allow me to reproduce this on my machine.  It seems to be tied to the `/me` route.  Once I trigger the issue, it is a problem for me until I clear the browser cache.

1. Clear your browser cache (or try on staging if you aren't currently seeing the issue there)
2. Login
3. Reload the page on any routes other than `/me`.  After the reload I am still logged in.
4. Navigate to

[2017-07-22 23:17] #844 closed

[2017-07-23 01:02] carols10cents commented on #808
Here's how npm is rolling out email verification: http://blog.npmjs.org/post/163187838935/upcoming-change-verified-email-required?utm_campaign=newsletter20170720&utm_source=newsletter_mailer&utm_medium=email

[2017-07-23 02:41] jtgeibel commented on #888
I think I've figured something out here!  I'm only seeing this weird behavior with exactly `/me`.  I have no issues with `/me/crates`, `/me/following`, or even `/me/`; that is until I visit `/me` for the first time after flushing the browser's cache.

It's a bit confusing because this route exists on both the frontend and the backend.  Additionally, on the backend a normal request for html content

[2017-07-23 15:01] carols10cents commented on #888
oh geez. thank you so much for doing this research @jtgeibel!!!

[2017-07-23 15:32] carols10cents commented on #736
@baileyn finished most of this and it's deployed!! Keeping this open as a reminder to get rid of the crates table license column since we're not using it anymore.

Thank you @baileyn!!! 🎉 🌮

[2017-07-23 15:48] carols10cents commented on #151
This has been finished and deployed, forgot to close the issue, oops!

[2017-07-23 15:48] #151 closed

[2017-07-23 22:21] carols10cents opened #908 ""Last updated" on a crate page isn't updating on new version publish"
ex: https://crates.io/crates/conduit-cookie, it says last updated 4 months ago but 0.8.4 was published yesterday

![screen_shot_2017-07-23_at_6_20_37_pm](https://user-images.githubusercontent.com/193874/28503384-bf33f4c8-6fd3-11e7-87ea-24c439e09a25.jpg)

[2017-07-25 09:05] vignesh-sankaran opened #911 "Display doc comments for private types"
crates.io is documented as its own crate [as cargo_registry](https://docs.rs/cargo-registry/0.1.0/cargo_registry/), and the S3 interaction as [cargo_registry_s3](https://docs.rs/cargo-registry-s3/0.1.0/s3/). I found out about how to display private types' documentation via `cargo doc --no-defaults --passes collapse-docs --passes unindent-comments`, but I don't think docs.rs has an option to do thi

[2017-07-25 11:39] vignesh-sankaran opened #912 "Restructuring backend as MVC"
Relaying the thoughts of @carols10cents from an email sent to me. We could look into setting up modules with the following structure:

- Model: All DB interaction structs
- View: Encodable implementations e.g. Encodable Crate
- Controller: All functions associated with API endpoints

This would also require a restructuring of unit and integration tests, so this would definitely not be a small task

[2017-07-25 12:45] kureuil commented on #911
Support for custom rustdoc arguments was [merged a while ago](https://github.com/onur/docs.rs/pull/73), so we should be able to expose private types' documentation on docs.rs.

[2017-07-25 14:04] ljedrz commented on #65
It doesn't work anymore; it used to in the past, but I tried it with a few crates and it didn't do the trick.

[2017-07-25 17:50] carols10cents commented on #65
It won't work with a browser, no, but `curl` should work.

[2017-07-25 18:27] ljedrz commented on #65
I checked it; it works.

I would suggest describing this download method in the API docs, especially since it is not trivial - you need to pass the **-L** option (follow redirects), otherwise you may not receive anything. In addition, although the downloaded file's extension is .crate (and after unzipping it the file has a .crate extension again), it is a tarball (.tar.gz).

[2017-07-25 19:28] sgrif commented on #65
It should work in the browser after the next deploy

[2017-07-25 20:09] kennytm opened #915 "Document that "features should be additive""
Although it seems to be well-known, I find it surprising that the requirement "*features should be additive*" is not documented at all on [docs.crates.io](http://doc.crates.io/manifest.html#the-features-section). Disrespecting this leads to tricky errors when merging features like chyh1990/yaml-rust#44 and rust-lang/cargo#4323 (= Geal/nom#544).

rust-lang/rfcs#1841 mentioned some documentation cha

[2017-07-25 20:18] kennytm commented on #915
Looks like doc.crates.io is a GitHub page which is part of cargo, not crates.io. I'll file the issue there instead. Sorry for disturbance.

[2017-07-25 20:18] #915 closed

[2017-07-26 00:59] carols10cents commented on #65
Deployed! this should now work!

[2017-07-26 00:59] #65 closed

[2017-07-26 01:03] carols10cents commented on #201
Fixed in #913!!!

[2017-07-26 01:03] #201 closed

[2017-07-26 14:13] #702 closed

[2017-07-26 22:51] carols10cents opened #918 "Session cookies should be good for a year"
See discussion in #888. That didn't end up being a session cookie problem, but setting the expiration time on that came up and I don't want to forget about taking care of that.

[2017-07-26 23:51] carols10cents commented on #912
I am into this! I would prefer to do this incrementally, if possible, so that there isn't one big PR that would need to be reviewed and kept up to date. Even though the intermediate state of being half reorganized might be more confusing, it would be MUCH easier for me to have smaller independent-ish PRs to review and merge :)

[2017-07-27 01:27] carols10cents commented on #626
And #816 has been deployed! Thank you @vignesh-sankaran, and thank you everyone for your patience!

[2017-07-27 01:27] #626 closed

[2017-07-27 04:23] jtgeibel commented on #912
I think a good place to start would be to move the API endpoints under `cargo` and `frontend` modules.  In particular, it would be nice to see the following in `src/lib.rs`:

[code]

The search API is the only route I've found that is currently used by both.

I've attached my list of all backend routes and where they are used.  I hope to get this cleaned up and submitted as documentation soon.

[r

[2017-07-28 04:18] jtgeibel commented on #912
I have [several commits][] where I've started working on this and I'm looking for some feedback on the general approach.  For now I've started with @sgrif's completed Diesel port since that removes a lot of code and there is less to move around.  Once that lands I can rebase and clean this up for a PR.

I moved the functionality in commits one route at a time, except for routes that share a lot of

[2017-07-28 16:53] sgrif commented on #918
This will require changes to conduit-session to implement

[2017-07-30 20:52] sgrif commented on #639
I've pulled this off of the Diesel milestone, as I don't think the ecosystem is where we need it to be to ship logging as a feature yet. https://github.com/diesel-rs/diesel/issues/150#issuecomment-318928436

If this is still a big concern I can put something together that implements it on the crates.io side (basically just decorating `PgConnection` and using `debug_sql` on every call. It's much ea

[2017-07-31 03:36] Gankro opened #924 "We shouldn't let you add someone as an owner without their consent"
This is a vector for abuse. We should require confirmation from the person being added before adding them, just like Github does for adding someone as an owner to a repo/team.

-----

Implementation steps added by carols10cents:

The following tasks assume we'll need a web UI for this in order to support users with arbitrarily old versions of cargo. I don't think crates.io can have a state where t

[2017-07-31 03:57] Gankro commented on #924
Workflow sketch:

* old_owner does `cargo owner --add new_owner`
* backend create's an owner entry with a but as a new kind of owner: `OwnerKind::Pending` (this should ideally force us to audit all the places where we evaluate rights, yay enums)
* backend sends a confirmation email to new_owner
* new_owner clicks link to crates.io; maybe clicks a button on a page (while signed in)
* backend change

[2017-07-31 03:58] Gankro commented on #924
Unclear what the process for teams should be. I think you need to be a member of a team to add it already? I don't really remember.

[2017-07-31 07:50] est31 commented on #75
There is also [binary transparency](https://wiki.mozilla.org/Security/Binary_Transparency), which is pretty cool... I think crates.io should adopt it as well as TUF.

According to a conversation on IRC with @ckerschb the client part in Firefox will be implemented in C++ and JS, but maybe the server part (python) can be shared.

[2017-07-31 15:01] sunjay commented on #924
Running cargo publish should tell the user that they are still pending verification. For teams, would it be feasible to keep people's verification status on a per team basis? i.e. you have publishing rights as long as you're on that team but you have to verify that you want those rights before you can actually publish.

Keeping that kind of information isn't bullet proof though because people can

[2017-07-31 15:04] sunjay commented on #924
Also I just checked and [my crates user page](https://crates.io/users/sunjay) doesn't actually list crates published by the teams that I'm on, so maybe teams isn't as high of a priority for this? I can't think of a way right now that someone could abuse GitHub organizations to spam, annoy or abuse someone through crates.io.

[2017-07-31 15:08] ashleygwilliams commented on #924
so, one large blocking issue here is that crates.io does not have guaranteed email information for users as GitHub does not reliably send it.

[2017-07-31 15:11] sunjay commented on #924
@ashleygwilliams Hmm. If we ask for the consent at publish time as well as do the email confirmation, we don't necessarily need people's emails. We just won't list them as owners until they've consented.

Could also add a custom cargo command just to accept the invitation to be an owner.

[2017-07-31 15:15] sunjay commented on #924
Also to address the email thing, when I was working with the passport-github package, I found out that they actually do a [separate API call](https://github.com/jaredhanson/passport-github/blob/451db704e3b7e6b72266da3e1fa8f36496cd8881/lib/strategy.js#L140) to fetch the email after authentication. Maybe that could work as a longer term solution for getting emails? It's not ideal, but it does seem t

[2017-07-31 15:23] ashleygwilliams commented on #924
so i think the first step here is to improve the crates.io ACL to include and require an email address. i'm down for any strategy re: that, so @sunjay your suggestion seems good to me. backfill, however, is gonna be a large task- either requiring a lot of user effort or a kinda tricky migration.

the next thing is that, afaik, since we never reliably had email addresses, we don't have any mailer s

[2017-07-31 15:33] carols10cents commented on #924
Natalie is working on the email ish https://github.com/rust-lang/crates.io/issues/808 so emails are coming.

[2017-07-31 15:36] sunjay commented on #924
By mailer service do you mean something that sends emails? What about using something existing like [mailgun](https://www.mailgun.com)? The pricing is really great even at scale.

I care about this issue a lot too and would be happy to donate my time in a few weeks to making it happen. (I've never worked on this codebase so I can't do it alone!) I can help with the Rust backend stuff and probably

[2017-07-31 15:50] Gankro commented on #924
I think I kinda just like Sunjay's suggestion of hooking verification into the publish process? Absolutely no notification if you've been added as an owner (so there's no way to even spam someone with ownership requests), and you can claim ownership the moment it's actually relevant (when you need to publish).

We could do the same thing for owner --remove, in the case of an ownership transfer (an

[2017-07-31 15:55] sunjay commented on #924
If we go with just implementing this through the cargo commands then this mostly becomes a task of adding some things to the API and database, then modifying the appropriate cargo commands. What do you think @ashleygwilliams?

We could have something like `cargo owner --accept crate-name` or something as well as something to list all the crates someone is an owner of/has pending requests to be an

[2017-07-31 15:57] Gankro commented on #924
Reflecting further on teams: I don't think we need to worry about them. You need to be on a team to add it (partly this is because Github is incredibly unreliable in acknowledging a team's existence unless you're on it), so basically the abuse vector is someone *on a team* is trying to harass *the entire team*?

Only case I can think of is someone rage quitting a community, and in that case that p

[2017-07-31 16:08] ashleygwilliams commented on #924
i am coming around to this CLI solution. it's really elegant actually. i think people will eventually ask for email integration, but that gives us time to build all that shenanigans out. good call @sunjay !

[2017-07-31 16:20] sunjay commented on #924
Thanks! I'll admit I felt apprehensive about sharing the idea in the first place given that I've never even touched the code in this repo. I'm happy to hear you both liking it. Thanks for being open to that. 😊

I can help with the cargo integration stuff in about a week or so. What needs to be done from the crates.io side? I think much of your initial comments still apply just without the email st

[2017-07-31 16:21] Gankro commented on #924
A small but notable issue with CI-based solutions is that you won't be able to transfer ownership to people with old Cargo installs. This mostly just means we should delay flipping the switch in the backend for a bit. I don't think that's a big deal?

[2017-07-31 16:24] Gankro commented on #924
It might be possible to auto-confirm anyone with an old cargo version who tries to perform an owner action, but idk if that's possible or reasonable

[2017-07-31 16:26] carols10cents commented on #924
I need a bit of time to think about this but I will absolutely get back to you within a day or so :)

[2017-07-31 16:31] sunjay commented on #924
@gankro is it a reasonable solution to return an error from crates.io to anyone who is using an old version? The error could contain a message asking them to upgrade their cargo version and a link to instructions on how to do so. The new version would handle this error and instead ask for their consent.

I think it's reasonable to say that all current owners don't need to be confirmed and that thi

[2017-08-01 00:06] notriddle-cerebrum commented on #890
Maybe we should rename the application to "crates registry"?

[2017-08-01 00:06] notriddle-cerebrum commented on #908
I'd like to claim this issue.

[2017-08-01 00:13] notriddle commented on #908
I'd like to claim this issue.

[2017-08-01 10:47] vignesh-sankaran opened #926 "Front end won't run without sudo in Linux"
On Debian sid, I can't seem to run the front end locally without `sudo`. Apparently it tries to create a `/etc/configstore` directory, it looks like `ember-cli` that tries to do this. As a workaround I created the directory manually and `chmod 777`'d it. Is this something you've run into @kureuil?

[2017-08-01 11:13] kureuil commented on #926
Nope, never encountered this problem. The directory `/etc/configstore` doesn't exist on my machine and my account cannot use `sudo`.

[2017-08-01 11:19] vignesh-sankaran commented on #926
Hmm, do you have a directory in `~/.config/configstore` instead? I'm trying to figure out if I caused this problem by installing `ember-cli` with `sudo` initially

[2017-08-01 11:20] kureuil commented on #926
Yes, I do. Can you try using `./node_modules/.bin/ember` instead of the globally installed one ?

[2017-08-01 11:22] vignesh-sankaran commented on #926
I resolved it earlier by removing `npm` and `nodejs` and reinstalling it with [nvm](https://github.com/creationix/nvm/blob/master/README.md) instead, but I still ran into this problem :(. Need a clean Linux machine to test this on...

[2017-08-01 11:25] #926 closed

[2017-08-01 12:44] carols10cents commented on #924
Ok here's what I'm thinking for the overall flow:

- user 1 owns crate1, wants to add user2 as an owner
- user1 runs `cargo owner --add user2`, [just as today](http://doc.crates.io/crates-io.html#cargo-owner)
- user2 can run `cargo owner --list-invitations` (or something) to list pending ownership additions. This should list the username of the person who added you  and the crate name, possibly wh

[2017-08-01 13:35] carols10cents opened #928 "After we have ownership consent, have a way for a user to block ownership requests from a particular user"
Ownership consent is #924. That'll help, but a harasser could still create a whole bunch of ownership invitations that would be annoying for someone to have to go through and decline.

- We should have a way for user1 to indicate that they never want any ownership invitations from user2. `cargo owner --block user2`? And a way to do this through the UI?
- This should also remove any pending invitat

[2017-08-01 14:08] vignesh-sankaran opened #929 "Bot to check if rustfmt is not run"
Is there a bot that can output a comment on a PR to run `rustfmt` if that particular TravisCI check fails? I'm not sure if bors-ng can do this for us, or if there's another bot out there that can handle this.

[2017-08-01 14:19] carols10cents commented on #924
Ok, I've added a list of things to the issue description that I think need to be done in the form of a plan that splits these steps into smaller, independently mergeable and deployable chunks. Am I forgetting anything that anyone can think of? @sunjay do these steps all make sense? Please ask questions if anything is unclear, either now or during implementation!

To address some other things peopl

[2017-08-01 14:20] vignesh-sankaran opened #930 "Add CI job for macOS"
After running into dev environment problems [here](https://github.com/rust-lang/crates.io/pull/869), I've realised it'd be great if we had TravisCI testing for the development environments on Windows, macOS and Linux.

[2017-08-01 14:40] carols10cents commented on #808
@natboehm there were some questions about what the issues are around email and how we're planning to implement emails over in #924. Could you please write up what we've talked about? Here are some questions from over there too:

- > Also to address the email thing, when I was working with the passport-github package, I found out that they actually do a [separate API call](https://github.com/jaredh

[2017-08-01 14:48] Gankro commented on #924
Sounds good, some quick notes:

I would advise against this, as it strikes me as a recipe for a very bad surprise for whoever owns a crate years later.

I'm 95% sure making Pending an OwnerKind avoids this issue, because:

* we have to check that field everywhere to know how to resolve the ownership
* we only ever check for strict equality (no `!=` or `_ =>`)

That said I'm sympathetic to this as

[2017-08-01 15:05] sgrif commented on #929
We could also just set up `cargo fmt` as a post-commit hook

[2017-08-01 15:12] carols10cents commented on #929
Everyone would have to set that up locally, right?

[2017-08-01 15:15] sgrif commented on #929
I'm pretty sure it's possible to check the hooks file into the repo

[2017-08-01 18:10] carols10cents commented on #929
I'm pretty sure it's not (the .git/hooks directory cannot be committed and does not come with a clone), and even if we [use a config var only available in git 2.9 or use symlinks](https://www.viget.com/articles/two-ways-to-share-git-hooks-with-your-team), we still have to get people to set up the git config or symlinks. Even THEN you can bypass pre-commit hooks with `git commit --no-verify` and po

[2017-08-01 18:54] natboehm commented on #808
The plan for user emails we've come up with is:
1. Add a field to edit a user's email address
2. Ability to send a confirmation email to the user for verification
3. Figure out a way to make adding an email mandatory

(1) is almost completed in PR #921.

For (2), the plan was to send the user a verification email on the addition or edit of their email address. We would generate a token in the data

[2017-08-02 01:08] sunjay commented on #924
The plan looks great and I have lots of comments and some ideas that I think we should consider. I'll need a few days to get back to you as this week is particularly hectic for me. Expect my reply on Friday or Saturday. Thanks for your patience and thanks for continuing to include me in the discussions. This is fun. :)

[2017-08-02 06:12] Manishearth opened #932 "Show more informative error message if crate authors are not fully known"
So today I tried publishing the app_units crate.

I got the error `error: api errors: crate name has already been claimed by another user`.

Except I've published this crate before.

I poked deeper and the crate owners are glennw and `servo:cargo-publish`. I _am_ a member of the cargo-publish org.

It turns out that Servo had tightened up org security, and one thing that was done was disallow acce

[2017-08-02 12:37] demurgos commented on #75
There was [a recent HN discussion](https://news.ycombinator.com/item?id=14901566) about a malicious package on _npm_ using typo-squatting. Would the security model proposed in this issue help to mitigate this sort of attack against crates.io?

[2017-08-02 12:43] heartsucker commented on #75
No. TUF would not be able to help with that. TUF only says "package `P` was signed by key `K`, and `K` was authorized to sign for `P`." It does not thing against social engineering like that or even against blatantly malicious packages.

- TUF couldn't stop the maintainers of `hyper` from doing Bad Things and then pwning everyone's machines once some maintainer is given a key to `hyper`
- TUF does

[2017-08-02 12:50] carols10cents commented on #932
yep. We've seen this problem with people adding a team as an owner and we've tried to add [some more docs around this issue](http://doc.crates.io/crates-io.html#github-permissions). This is another case we should give more info on and point to those docs and give specific instructions in the error message :-/

[2017-08-02 15:12] carols10cents commented on #891
I've been thinking about this and I don't think it's possible to do, so I'm going to close this. Feel free to reopen if you figure out a way!

[2017-08-02 15:12] #891 closed

[2017-08-02 15:41] carols10cents commented on #724
This was fixed in #727!

[2017-08-02 15:41] #724 closed

[2017-08-02 15:42] carols10cents commented on #701
This was fixed in #859!

[2017-08-02 15:42] #701 closed

[2017-08-02 15:44] carols10cents commented on #884
Oooh actually this is a duplicate of #700! Closing in favor of that one :)

[2017-08-02 15:44] #884 closed

[2017-08-02 15:47] carols10cents commented on #677
We decided in rust-lang/rust#1824 not to change the ordering of search results; I'd like to see any proposed reordering of search results go through the RFC process.

[2017-08-02 15:55] carols10cents commented on #652
This was fixed in #601!

[2017-08-02 15:56] carols10cents commented on #652
oh wait no it wasn't. i need to actually read what i wrote haha

[2017-08-02 15:59] carols10cents commented on #584
Closing as wontfix then

[2017-08-02 15:59] #584 closed

[2017-08-02 19:24] nagisa commented on #700
I want a real time fuzzy matcher a-la ctrl+p :P

[2017-08-02 23:29] carols10cents commented on #700
Closing this as a duplicate of #159 actually!

@nagisa anything is possible! Let me know if you'd be interested in working on this and I'd be happy to help get you set up!

[2017-08-02 23:29] #700 closed

[2017-08-02 23:31] carols10cents commented on #677
Actually I'm going to close this as a duplicate of #281.

[2017-08-02 23:31] #677 closed

[2017-08-02 23:41] carols10cents commented on #27
I think this is more of a cargo issue than a crates.io issue; I'm pretty sure the complaining is coming from cargo and not at all from crates.io.

So closing as a duplicate of rust-lang/cargo#1169 or as a duplicate of rust-lang/cargo#4242.

[2017-08-02 23:41] #27 closed

[2017-08-03 07:13] vignesh-sankaran commented on #929
Hmm, how about [danger](https://github.com/danger/danger)?

[2017-08-03 07:40] vignesh-sankaran opened #933 "Backend development environment setup assistant"
Would be nice if rather than erroring out, the backend had a prebuild script to check if the database is set up, setup a .env file, and initialise the local git repo. I've recloned the repo a few times now and forgot to transfer the .env file, meaning that I had to set one up again.

EDIT: Realised we could extend the scope of this prebuild script to automate most development environment setup ste

[2017-08-03 08:02] vignesh-sankaran opened #934 "Frontend recreates dist/ directory even when it exists"
Uploading a crate locally results in the `dist/` directory being created with the crate available. However, when I run the frontend, it deletes the directory and recreates it, thus removing the uploaded crate. This is a problem specific to macOS so far.

[2017-08-03 09:31] djc opened #935 "recent_downloads is 0 in API data"
I looked at the API data returned for Askama in order to submit it for AreWeWebYet. I thought it might be nice to expose the recent downloads on that site as well, but when I looked into the data `recent_downloads` is 0. If I look at https://crates.io/categories/template-engine, however, the value for askama is 226. Also in the API data, the `downloads` number for the release I did yesterday is 6,

[2017-08-03 12:13] kureuil commented on #934
Yeah, this behavior is not specific to macOS I also encountered it on Linux, it is ember-cli's way of doing things apparently. Each time the front-end application is modified, it deletes the dist folder and regenerates it with the newly compiled files, removing any locally uploaded crates.

See also https://github.com/rust-lang/crates.io/issues/734#issuecomment-302874950

[2017-08-03 15:04] sgrif commented on #933
How would a script know where your database lives without a `.env` file?

[2017-08-04 01:33] vignesh-sankaran commented on #933
True, which is something we can manage with this setup assistant, perhaps by asking the user to type it in, or to enter the parameters of a connection URI and create one from there.

Does `diesel setup` also run the migrations too?

[2017-08-04 02:41] vignesh-sankaran commented on #934
Yep, I'm going to work on this, I'm a bit worried we're storing local crates in a folder that is recreated every time the frontend is run again :).

[2017-08-04 05:37] vignesh-sankaran opened #937 "Broken dev environment with conduit cookie crate update"
After #909, I now get ``thread 'main' panicked at 'bad master key length: expected at least 32 bytes, found 6', /home/vignesh/.cargo/registry/src/github.com-1ecc6299db9ec823/cookie-0.9.1/src/secure/key.rs:53
note: Run with `RUST_BACKTRACE=1` for a backtrace.`` with `cargo run --bin server`, and all the integration tests fail :(. This is a problem on macOS and Linux.

[2017-08-04 08:12] vignesh-sankaran opened #938 "Add diagram of database schema"
As part of the effort to improve crates.io's documentation, we should have a bot that creates an ER diagram, and when there is a change made to the `migrations/` directory, the bot will recreate the ER diagram, and create a PR which we can accept. We can use [SchemaCrawler](https://github.com/sualeh/SchemaCrawler), [schemaspy](https://github.com/schemaspy/schemaspy), or another tool to create the

[2017-08-04 10:29] kureuil commented on #937
Requirements for the secret key have changed in #909, it now has to be at least 32 bytes long: https://docs.rs/cookie/0.9.1/cookie/struct.Key.html#method.from_master

Comments in the `.env.sample` file were not updated to reflect this change though.

[2017-08-04 11:21] vignesh-sankaran commented on #937
How do I change the key? And which key is this precisely?

[2017-08-04 17:10] carols10cents commented on #937
What does it say?

[2017-08-04 19:18] natboehm commented on #935
Could you clarify what URL you were requesting where you see `recent_downloads` being zero?

[2017-08-04 19:32] natboehm commented on #935
If you mean the route `GET /crates/crate_id`, `recent_downloads` is indeed zero. We're currently working on a fix, however as a workaround you could submit a query to the route `GET /search?q=askama` that searches for the crate. Your crate name of Askama will always be the exact match and I know that the field `recent_downloads` is definitely accessible there.

For reference, [this line](https://g

[2017-08-04 19:43] carols10cents commented on #934
So in one sense this is a bug, in that you've "published" and "uploaded" the crate and it's in your database, but the files are removed, and that's unexpected.

In another sense, we're, uh, "saving disk space". You won't have huge files sitting around from testing out publishing.

I'm open to changing this behavior; I think the documentation should be improved along with a change to say "locally u

[2017-08-05 01:54] vignesh-sankaran commented on #937
Ok so using crates.io locally works, but all the integration tests are failing :/. Is that the case for you too @carols10cents and @kureuil?

[2017-08-05 14:20] kureuil commented on #937
@vignesh-sankaran Both `cargo test` and `npm test` are running just fine on my end.

[2017-08-06 14:28] dobkeratops opened #939 "suggestion - search by trait"
[discussion](https://users.rust-lang.org/t/crates-io-search-by-traits-safety/12226/3) : would it be possible to search crates by the traits they implement (more specifically, the traits *of other crates*, since any crate may have internals)

- either adding these directly as keywords,

- or adding something to the UI in parallel with the keywords (so as not to pollute the keywords) .. but still al

[2017-08-07 16:05] notriddle commented on #879
Heroku does provide access to the git hash at runtime. You just [have to turn it on](https://devcenter.heroku.com/articles/dyno-metadata).

[2017-08-07 16:38] sgrif commented on #939
Can you elaborate more on what exactly you're looking to accomplish? Given that the orphan rule would prevent a crate from implementing a trait for any types other than its own, it seems like the reverse_dependencies page already accomplishes the majority of the value we'd get from doing this. Anything which involved actually parsing the code of various crates would be a monumental undertaking, an

[2017-08-08 11:29] djc commented on #935
Yeah, I'm hitting `/crates/crate_id`.

[2017-08-08 11:54] vignesh-sankaran opened #943 "Dockerising development environment"
Thought it'd be nice if we had a Docker container for managing the development environment rather than needing to set things up based on the host OS.

[2017-08-08 14:00] conradkdotcom commented on #815
These ideas sound great ! Especially 2FA and opt-in confirmation via a second maintainer.

[2017-08-08 22:04] onur opened #945 "crates.io shows old documentation link when documentation field removed from Cargo.toml"
crates.io shows old documentation link when documentation field removed in the latest version of a crate.

[take_mut](https://crates.io/crates/take_mut) crate has `https://crates.fyi/crates/take_mut/0.1.3/` documentation link [in the version 0.1.3](https://docs.rs/crate/take_mut/0.1.3/source/Cargo.toml). Documentation link is removed in [the latest version](https://docs.rs/crate/take_mut/0.2.0/sou

[2017-08-09 00:09] sgrif commented on #945
I need to double check, but the fix for this should be as simple as putting `#[treat_none_as_null = "true"]` [here](https://github.com/rust-lang/crates.io/blob/master/src/krate.rs#L57)

[2017-08-09 22:58] sunjay commented on #924
Thanks for giving me a few days! Sorry it took me longer than expected for me to get back to you all. @carols10cents has done a wonderful job designing everything so if it's alright I'll just address a few specific points I had some comments about. :)

This was more of a convenience feature. The idea was that instead of having to execute a separate command at publish, we would give them the option

[2017-08-09 23:05] sunjay commented on #924
One thing I would really like as part of all of this abuse prevention work (but not this issue specifically) is to setup some integration tests that actually simulate abuse on a test user. I am happy to help out with this since I have some ideas already.

Some important points about this:

* The tests should cover different ways to abuse a user or a crate and should demonstrate that the abuse is e

[2017-08-10 19:14] carols10cents commented on #924
Thank you for your comments @sunjay!

Yes, I don't think integrating acceptance with publish is necessary for an MVP of this feature.

Enterprises and linux distributions are not able to just upgrade whenever. So no, we can't just make people upgrade in order to be able to accept/decline publishing invitations, unfortunately.

Since we can't make people upgrade, the bare minimum implementation can

[2017-08-10 20:39] carols10cents opened #947 "Add a button to make it easy to report a package"
For whatever reason. I'm not sure how this should be implemented exactly yet, but we should definitely have something along these lines.

[2017-08-11 04:49] sunjay commented on #928
What do you think of a prompt like the following after someone blocks another user?

If they confirm, a report is sent to the crates.io moderators. If they decline, we print a message letting them know how they can report manually if they need to in the future.

I think most situations where you would want to block someone are also situations where you are likely being abused and would want someon

[2017-08-11 04:50] sunjay commented on #928
Also, it may be useful to keep a history of invitations so we can (in the future) automatically detect and track abuse. For example if a user is suddenly receiving many invites or if one user is suddenly sending many invites they may be doing something nefarious.

[2017-08-11 07:21] sunjay commented on #945
I've started to work on this in https://github.com/rust-lang/crates.io/pull/948.

Any mentorship anyone can provide is welcome. I'll debug it more soon. :smile:

[2017-08-11 09:49] lfairy opened #949 "Published crate does not appear in "just updated" section"
I published two crates, [`maud_macros:0.17.1`](https://crates.io/crates/maud_macros/0.17.1) and [`maud:0.17.1`](https://crates.io/crates/maud/0.17.1), one after the other. Both of these uploads succeed.

But when I look for them on the front page of crates.io, only `maud` can be found:

![Screenshot of crates.io](https://user-images.githubusercontent.com/1572323/29208101-c2eb736c-7edc-11e7-8c6f-4a

[2017-08-11 14:32] carols10cents commented on #949
What makes you suspect that? [This is the query that powers the "just updated" list](https://github.com/rust-lang/crates.io/blob/master/src/krate.rs#L1003-L1008), and it isn't filtering with anything to do with keywords or categories, so I don't see any evidence that that is the case.

This looks like a duplicate of #908 -- I looked in the database and the updated_at time for the maud_macros crate

[2017-08-11 14:32] #949 closed

[2017-08-11 23:35] behnam opened #950 "Define what "crates.io" is to "rust". "Registry"?"
I was updating cargo's docs to use the term accurately, and I realized that there's clear term for what "crates.io" *is*.

<https://crates.io/> has these lines in the homepage:
* "Cargo / pacakges for Rust",
* "The Rust community’s crate host",

There's no "About crates.io" page.

In <http://doc.crates.io/manifest.html#the-publish--field-optional>, we have "a package repository", to which I added

[2017-08-11 23:41] steveklabnik commented on #950
❤️ 💯

👍

[2017-08-12 04:12] sunjay commented on #945
I've fixed the issue in my PR and once it is merged any affected crates will need to publish before the webpage is updated. There are other larger issues which I've talked about in my PR which should be addressed at some point but I think are too big of a change for this issue.

[2017-08-12 04:19] Sgeo commented on #945
I was under the impression that removing the documentation link will cause crates.io to use docs.rs as a default. Will that still occur with this fix?

[2017-08-12 04:51] sunjay commented on #945
@Sgeo That behaviour seems to occur on the frontend and should continue to work as expected. Someone more familiar with the codebase should probably say more about that though. I'm just commenting based on what I saw when I looked just now.

[2017-08-12 05:55] sunjay commented on #924
@carols10cents How many versions back of cargo do we need to support? It may be worthwhile to look at the history of what cargo has done in the `--add` command to see about this particular point in the implementation.

[2017-08-12 08:05] vignesh-sankaran commented on #704
How do we want the maintenance intention badges to look like? Did we want it to look like the CI badges e.g. TravisCI?

[2017-08-12 13:30] bluss opened #953 "Inconsistent crate info display (mixing versions)"
About: https://crates.io/crates/petgraph

The most recently released version of petgraph is 0.2.10.

The greatest version is petgraph 0.4.5.

This is inconsistent, it should show all the information from the same version:

* _Documentation_ is taken from 0.2.10, a version that is not visible anywhere on the page.
* _Categories_ (or the lack there of) seems to be taken from 0.2.10
* _Dependencies_

[2017-08-12 14:42] carols10cents commented on #924
As many as we can back to what was shipped with Rust 1.0, imo.

[2017-08-12 15:27] carols10cents commented on #945
Yes, @sunjay is correct: once this fix is deployed and new versions of the crates are published, the frontend will see that there is no documentation URL and will check docs.rs.

[2017-08-12 17:20] kureuil opened #954 "Login doesn't work using Edge"
When you try to login, it raises an exception

[code]

![applicationframehost_2017-08-12_19-14-16](https://user-images.githubusercontent.com/1275463/29242758-e0af547a-7f92-11e7-8b31-8191373e827c.png)

Steps to reproduce:

* Open Microsoft Edge & go to https://crates.io/
* Click on "Log in with GitHub"
* Connect to GitHub using your credentials
* "Something went wrong!"

[2017-08-12 17:21] M2Ys4U opened #955 "Add a privacy notice to crates.io"
Crates.io does not currently display a privacy notice, and I am concerned that crates.io may be operating in violation of data protection legislation in the EU (and elsewhere).

A privacy notice should be added so that people know what data is collected about them when they use the crates.io website (I see that Google Analytics is used, for example, (see #460) with no notification to users that th

[2017-08-12 17:39] #586 closed

[2017-08-12 17:51] carols10cents commented on #954
oh no! thank you for catching this before I deployed it :) <3

[2017-08-12 17:52] carols10cents commented on #955
You're absolutely right.

[2017-08-12 18:02] carols10cents commented on #954
oh wait lol this is on production

[2017-08-12 21:15] #954 closed

[2017-08-12 21:41] carols10cents commented on #950
Yep, I agree "package registry" is the right term. Seems like the fixes need to go in the docs in cargo's repo, so I'm going to give this a close!

[2017-08-12 21:41] #950 closed

[2017-08-12 21:44] carols10cents commented on #939
Yes, [as I mentioned on the users forum](https://users.rust-lang.org/t/crates-io-search-by-traits-safety/12226/6?u=carols10cents), I think this is beyond the scope of what crates.io is responsible for, and would be best as a standalone tool or perhaps in docs.rs.

[2017-08-12 21:44] #939 closed

[2017-08-12 21:51] carols10cents commented on #953
The documentation URL that's provided to crates.io is http://bluss.github.io/petgraph, without any version information. Since crates.io doesn't have anything to do with the generation of those docs, I don't think there's anything to be done here about that. I do think perhaps we could improve cargo tooling on that front, [as I mused in this issue](https://github.com/rust-lang/crates.io/issues/894)

[2017-08-12 21:57] bluss commented on #953
The crate information page says "petgraph 0.4.5" — then it should use the documentation link from the 0.4.5 version of the package.

[2017-08-12 22:05] bluss commented on #953
I think the core of the problem is that the latest published version 0.2.10 is not visible anywhere on the page, so the information about "Last Updated" becomes very puzzling and hard to put together with the other information on the page. It would help to just put the version of the last update in this spot, if it's different from the "main" version that crates.io is displaying.

[2017-08-13 00:22] carols10cents commented on #953
Then you would need to change your documentation link for each version that you publish, that would be annoying, wouldn't it? That's why I think we need better tooling on the cargo side, to make it easy to have a "main docs url", then encourage publishing at `/:version_num` paths beneath that, and then crates.io could add the version number to the main docs URL :-/

That makes sense!

[2017-08-13 01:40] bluss commented on #953
I want to clarify. I'm not asking to have the version of the package in the URL of the documentation.

I'm asking that crates.io, if it's displaying information for petgraph 0.4.5, it should use the documentation URL from that version of the package. The expected documentation in this case is `https://docs.rs/petgraph/`

The actual documentation URL is something different, taken from version 0.2.1

[2017-08-13 14:14] carols10cents commented on #953
I don't change the documentation URL every time I publish a package, do you?

[2017-08-13 15:17] bluss commented on #953
Again, that's not what I'm requesting.

[2017-08-13 15:33] bluss commented on #953
I am primarily reporting what I saw as an error. Developers will decide how to fix it correctly.

As formulated originally,  _“Inconsistent crate info display (mixing versions)”_ ; it is inconsistent because on a crate's page, the information displayed is patched together from multiple different versions of a crate. That fact is not exactly obvious to the user of crates.io.

There are multiple way

[2017-08-13 17:10] jtgeibel commented on #953
If I'm understanding this correctly, the issue is that the documentation field (and probably others) may be overwritten with old data when fixes are backported to an old release and then published.

The two petgraph releases in question are:

* 0.2.10 - 2017-07-27 - https://github.com/bluss/petgraph/blob/0.2.10/Cargo.toml#L12
* 0.4.5 - 2017-06-16 - https://github.com/bluss/petgraph/blob/0.4.5/Carg

[2017-08-13 18:46] fwrs commented on #145
I think they should disappear from user pages

[2017-08-13 20:33] carols10cents commented on #953
So another fix could be, since you're publishing a new version in the 0.2 branch, and you've since changed where your docs are, the 0.2 branch should have gotten an update to its Cargo.toml to point to the same location as the 0.4.5 release does. Can you elaborate on why that's not an option? That seems most accurate to me-- are you still publishing docs at the 0.2 branch's URL?

I think the reaso

[2017-08-13 20:37] carols10cents opened #958 "Yanked crates shouldn't be displayed on user/team pages"
Related to #145.

Since we currently only keep track of yanked-ness on version records rather than on crate records, implementing this involves:

- [ ] Changing the [query for the crates a user owns](https://github.com/rust-lang/crates.io/blob/405b2ad74715f22d756de749be4acb9626c1019b/src/krate.rs#L653-L661) and the [query for the crates a team owns](https://github.com/rust-lang/crates.io/blob/405b

[2017-08-13 20:37] carols10cents commented on #145
@fwrs thanks for the suggestion! I've filed #958 for that.

[2017-08-13 20:50] bluss commented on #953
#894 looks like the same issue, actually. It's certainly the heart of it, even if the documentation field doesn't seem to be alone. I should have found that before filing.

[2017-08-14 00:53] vignesh-sankaran commented on #912
This looks like a good start, the separation of `cargo` and front end endpoint code looks good. I feel we should aim for separation of all DB related code into a separate namespace and code linked to API endpoints. I'm not sure how we can further separate View-Controller code e.g. `/crates/:crate_id` endpoint to `krate` function.

I'd like to set up a tracking issue, maybe we could set up a meetin

[2017-08-14 01:18] carols10cents commented on #937
Fixed in #941!

[2017-08-14 01:18] #937 closed

[2017-08-14 03:40] sunjay commented on #924
@carols10cents I've started work on the first deployable chunk in #959. I have some implementation questions which I wasn't sure if I should ask in the PR or here. I've asked below and we can continue on the PR if that's more appropriate.

Regarding status, I think we should also consider a status for when the invitor revokes/removes their invitation using `cargo owner --remove`. (more on that in

[2017-08-14 15:33] #809 closed

[2017-08-14 20:57] carols10cents commented on #924
I don't understand why removed doesn't delete the invitation?

[2017-08-14 21:20] sunjay commented on #924
My thought process was that if we keep the removed records, we can use them as a record of what's happened with the invitations.

After further thought, I think I'll leave it as is for now with just pending and declined. If that additional information comes in handy later we can always add it with no issues. No need for the increased complexity now.

[2017-08-14 22:17] carols10cents commented on #924
I think that sounds like a good plan :)

[2017-08-15 05:31] AaronFriel opened #960 "Crates.io should not require the `accept:` header to contain the string `html`"
Microsoft Edge, `curl`, and likely other tools send `Accept: */*`. Crates.io is not accessible to these tools, and pages cannot be accessed via curl unless `Accept: text/html` or some variant containing html is sent.

https://github.com/rust-lang/crates.io/blob/d6eaeb8bd6d50fdac97d43dedb3747ae3169bf45/src/dist.rs#L42-L45

[2017-08-15 13:18] kureuil commented on #960
What version of Edge are you using ? I can browse the site just fine using *Microsoft Edge 40.15063.0.0* using *Windows 10 Pro 1703*.

What do you mean by "not accessible" ? Do you get an empty response ? a 404 ?
Does it looks like #788 ?

[2017-08-15 14:30] AaronFriel commented on #960
Yes, I get the 404 response because it did not send an Accept header that contains the string "html". I'm on the Insider Fast track on build 16257.

[2017-08-15 14:33] AaronFriel commented on #960
Update: It appears my Edge is now sending "Accept: text/html, application/xhtml+xml, image/jxr, */*", and all I've done since yesterday is restart. No clue why Edge was sending "Accept: */*". I'll file a ticket on that side, but the Crates.io server should consider "*/*" to include "html".

[2017-08-16 11:47] vignesh-sankaran commented on #704
We also need to:
[ ] Save the badges into the database in the transaction [here](https://github.com/rust-lang/crates.io/blob/master/src/krate.rs#L1129)
[ ] Remove the warning in cargo that says that the maintenance badge is not a recognised badge and is ignored during a publish. If that metadata is not being passed to crates.io, that needs to be added in as well. It may also require parsing in the

[2017-08-16 15:03] carols10cents opened #962 "Add another column to the homepage for "Most Recently Downloaded""
Instructions for fixing this, can be done in 2 separate PRs but they will need to be done in order :)

## PR 1: backend

- [x] In the [`summary` function that returns JSON for the /api/v1/summary route](https://github.com/rust-lang/crates.io/blob/76d15c1a909ddcbf23413a5a3ad477874baca859/src/krate.rs#L759), add a query similar to [these queries](https://github.com/rust-lang/crates.io/blob/76d15c1a9

[2017-08-16 16:06] bfrog opened #963 "Single Letter Crate Spam"
It appears someone intentionally or otherwise is spamming crates.io with single letter crates without any actual content.

This seems like it might be an abuse of the repository

[2017-08-16 16:37] carols10cents commented on #963
Are they linking to spam sites? Reserving crate names is allowed. https://internals.rust-lang.org/t/crates-io-package-policies/1041

[2017-08-17 02:14] #963 closed

[2017-08-17 02:15] carols10cents commented on #960
This indeed sounds like a duplicate of #788.

[2017-08-17 02:15] #960 closed

[2017-08-17 02:24] carols10cents commented on #692
Oops, not sure why I didn't notice this: the docs live in cargo's repo, and this was fixed in https://github.com/rust-lang/cargo/pull/4057.

[2017-08-17 02:24] #692 closed

[2017-08-17 15:23] #81 closed

[2017-08-17 18:26] carols10cents commented on #721
Let's go with the crates.io/categories page. Doing this involves adding a link to `/category_slugs` somewhere in [the categories template](https://github.com/rust-lang/crates.io/blob/405b2ad74715f22d756de749be4acb9626c1019b/app/templates/categories.hbs) -- where and what the link and the text around it says exactly is up to whoever implements this :)

[2017-08-18 00:11] carols10cents commented on #84
This looks like it was fixed in 9f51a1febb52af151599e31812acfa728262780c but this issue wasn't ever closed 😅

[2017-08-18 00:11] #84 closed

[2017-08-19 04:19] sunjay opened #965 "Extra newlines appear in rendered README"
I'm so excited that README files now show up in crates.io! I started using it without even realising and then when I saw that it was there I was so happy! :smile:

I noticed that the `css-color-parser` has a lot of extra newlines for some reason when it is shown on crates.io vs. when it is shown on GitHub. There is a lot of extra space between bullets and after paragraphs which GitHub is able to c

[2017-08-19 05:17] daboross opened #966 "Rendered README fails to parse links on images"
Hi! Loving the READMEs showing in crates.io!

I have one bug I'm experiencing for one of my crates, where links surrounding images fail to parse. Specifically, links like `[![Linux Build Status][travis-image]][travis-builds]` - showing the image `[travis-image]` and linking to `[travis-builds]` (both specified at the end of the README).

[github](https://github.com/daboross/fern#fern) vs [crates.i

[2017-08-19 14:28] bluss opened #967 "Crate info page: Show description if there's no readme"
Crates now show the readme on their information page on crates.io. That's nice, allows us a bit of markup and stuff to show more information.

Consider falling back to the old behaviour -- showing the description, if there is no readme. The main reason you should do this is to make the transition smooth. As it is now, a lot of crates have lost their description in one stroke, and crates.io is a wo

[2017-08-19 17:15] XAMPPRocky opened #968 "403 forbidden on README."
[`tokei`](https://crates.io/crates/tokei)'s README is getting a 403 forbidden.

[2017-08-19 17:25] joshtriplett commented on #888
I'm seeing this issue as well, with current Firefox on today's crates.io. Logging in works, then some subset of navigations leads me to become logged out. I can confirm that going to `/me` reliably reproduces this problem.

[2017-08-19 17:34] joshtriplett opened #970 "Please use a little more width for crate pages on screens"
When rendering on a full-size screen (rather than mobile), the crates page still renders content in a very narrow column. The width used on almost every other page seems fine, but crate pages have a sidebar, which narrows the region available for the README content.

Take a look at <https://crates.io/crates/colorparse>, and compare it to <https://github.com/joshtriplett/colorparse/>. Notice how th

[2017-08-19 18:02] jrmuizel opened #971 "README images overflow into area's they're not supposed to."
See https://crates.io/crates/goblin.

Adding "max-width: 100%" solves the problem.

[2017-08-19 18:04] jrmuizel opened #972 "Description missing from crates page"
https://crates.io/crates/cbindgen is missing the description of the crate.

[2017-08-19 18:39] alilleybrinker opened #974 "Rendered intra-project README links are broken"
This issue can be seen here, with the "`examples/`" link: https://crates.io/crates/finchers

Basically, GitHub allows links to folders and files within the repo, and those links don't work on crates.io. This seems pointy, although I am not sure how best to resolve it.

[2017-08-19 18:42] carols10cents commented on #494
Possible bootstrapping strategy: github api for who you follow on github?

[2017-08-19 18:43] carols10cents opened #975 "Org pages in addition to team pages"
this is a reminder for me that i will fill in more later

[2017-08-19 18:44] carols10cents opened #976 "search should also surface results of teams that match"

[2017-08-19 19:00] steverob commented on #494
Yeah that's a great idea!!!

--
Regards
Steve Robinson

[2017-08-19 19:57] MaikKlein commented on #971
Same here https://crates.io/crates/ash

[2017-08-19 20:38] joshtriplett commented on #974
As a first pass, transforming relative URLs to URLs relative to the repository might make sense.

[2017-08-19 20:41] notriddle opened #977 "README files tend to duplicate parts of the crates.io UI"
For example, <https://crates.io/crates/chroniker> shows the crate name three times in a row.

Not sure what we should do to make the presentation a bit more reasonable, but it looks awful.

[2017-08-19 20:53] kureuil commented on #972
Probably a duplicate of https://github.com/rust-lang/crates.io/issues/967 the cbindgen crate doesn't seem to have any readme in their manifest.

[2017-08-19 20:57] jwilm opened #978 "Markdown README rendering doesn't handle checkbox lists"
Rendering markdown like

[code]

Should be generate a series of checkboxes, like so:

- [ ] foo
- [x] bar

However, this is what we see on crates.io:

![image](https://user-images.githubusercontent.com/4285147/29490074-3bb0eff2-84e6-11e7-9f7f-4ca751276dbc.png)

Here's a crate/version exhibiting the issue: https://crates.io/crates/postgres-cursor/0.2.2

[2017-08-19 22:52] carols10cents commented on #972
Yep, this is a duplicate of #967. Thanks!

[2017-08-19 22:52] #972 closed

[2017-08-19 22:53] carols10cents commented on #977
Yeah, I'm not sure what to do either.

[2017-08-20 03:33] anthonynguyen commented on #978
Turns out [pulldown-cmark] only implements the CommonMark spec, so it doesn't have GFM features like task lists. I've found another Markdown renderer, [comrak], that has task lists, and it's pretty trivial to switch to it. Unfortunately, there's an issue (https://github.com/kivikakk/comrak/issues/32) that would prevent it from rendering *your* Markdown properly, but it'd still be better than right

[2017-08-20 04:22] apeduru opened #982 "Embedded PNG images in README are not rendered on crates.io"
See [https://crates.io/crates/bspl](https://crates.io/crates/bspl). Compared to the [README](https://github.com/apeduru/bspl/blob/master/README.md) in the repo, the name of the PNG file itself appears in place of the image on crates.io.

Viewing on Firefox 55.0.2.

[2017-08-20 07:22] ruuda opened #983 "Rendered readme does not render table"
I have the following table in the GitHub-flavored markdown readme of my crate:

[code]

It does [render fine on GitHub](https://github.com/ruuda/claxon/blob/master/readme.md#performance), but [it does not on crates.io](https://crates.io/crates/claxon).

[2017-08-20 08:14] dragostis opened #984 "Projects in workspace don't display readme."
Both [openssl](https://github.com/sfackler/rust-openssl) and [pest](https://github.com/pest-parser/pest) don't have their readmes visible on crates.io. It seems like `readme = "../README.md"` does not work.

[2017-08-20 10:02] ishitatsuyuki opened #986 "CSRF: logout"
[code]

This won't work on GitHub of course due to it's secure image proxy, but anyway we don't want a malicious page constantly logging you out of the site!

[2017-08-20 10:05] ishitatsuyuki commented on #986
Hmm, seems I'm being constantly logged out on refresh for other reasons. Feel free to close if this isn't a CSRF.

[2017-08-20 10:49] kureuil commented on #982
The problem is the `img`'s `src` attribute is an absolute path. These kind of links are not authorized in attributes. Putting an absolute link to the raw image ( https://github.com/apeduru/bspl/raw/master/pics/bspl_screenshot.png ) should resolve the issue.

[2017-08-20 11:04] kureuil commented on #984
This seems to be pretty hard to handle to me. Because each crate in a workspace is compressed into its own archive (using its Cargo.toml) as the root, I'm not sure about how it could embed a file that is one folder up without putting it at the root at the archive and rewriting the readme path in the manifest.

[2017-08-20 11:07] kureuil commented on #983
Yeah, I probably forgot to add the [option](https://docs.rs/pulldown-cmark/0.1.0/pulldown_cmark/constant.OPTION_ENABLE_TABLES.html) to render tables in the markdown [renderer](https://docs.rs/pulldown-cmark/0.1.0/pulldown_cmark/struct.Parser.html). We should probably enable footnotes at the same time.

[2017-08-20 14:35] autodidaddict opened #988 "Following contribution guidelines, test database not migrated"
I was following step-by-step in the `CONTRIBUTING` file and doing things in the order specified. It did not migrate the test database, so when I went to run the tests via `cargo test`, it failed complaining about a missing relationship.

My workaround was to set the `DATABASE_URL` to the test database URL and run the diesel migrate , then set the url back to the regular one. I was then able to run

[2017-08-20 14:41] jtgeibel commented on #988
I think my recent PR #987 will resolve this.  It ensures that the build script is run again when the timestamp on the migrations/ directory changes.

[2017-08-20 17:16] carols10cents commented on #791
Closed by #980!! 🎉

[2017-08-20 17:16] #791 closed

[2017-08-20 17:25] carols10cents commented on #971
LOL the goblin image!!! 😂😂😂

[2017-08-20 17:30] #888 closed

[2017-08-20 17:42] #908 closed

[2017-08-20 17:42] #971 closed

[2017-08-20 18:01] carols10cents opened #989 "Usernames in /users/ urls should be case-insensitive"
What happened:

- I typed in crates.io/users/burntsushi
- I got a 404 :(

What I expected to happen:

- I type in crates.io/users/burntsushi
- I am shown the content I see if I go to https://www.crates.io/users/BurntSushi

Github treats usernamse in a case-insensitive manner; I can visit either https://github.com/burntsushi or https://github.com/BurntSushi.

We should probably lowercase usernames

[2017-08-20 19:28] Phrohdoh opened #992 "Asciinema elements are not scaled correctly"
https://crates.io/crates/timi

![screen shot 2017-08-20 at 2 24 37 pm](https://user-images.githubusercontent.com/4861023/29497776-c1424198-85b3-11e7-9b47-b194228ecba1.png)

[2017-08-20 20:13] olson-sean-k opened #993 "Images in rendered README spill out of the crate-readme div."
See one of my crates [here](https://crates.io/crates/bismuth) for an example. The screenshot image spills out of the `crate-readme` `div`. Maybe it would be better to clip or resize elements that spill out of the containing `div`.

[2017-08-20 23:09] hoodie commented on #993
also here https://crates.io/crates/cairo-rs

[2017-08-20 23:20] autodidaddict commented on #721
![screenshot from 2017-08-20 19-17-30](https://user-images.githubusercontent.com/13748641/29499319-4999983e-85dc-11e7-9200-b397afc41201.png)

Here's a quick straw man I whipped up. The `here` link goes to the category slugs page while the `Cargo.toml` link goes to the manifest documentation page.

Thoughts? I figured showing this here first would be easier than starting a PR. I tried a bunch of va

[2017-08-20 23:53] lilianmoraru commented on #721
To be sincere, the visibility of that is not very good.
Personally, I probably would never end-up seeing that link.

May be a mention/"chapter" on the ["Publishing on crates.io" page](http://doc.crates.io/crates-io.html)(both options or just on the Publishing page?)?

[2017-08-21 00:30] autodidaddict commented on #721
Yeah it's too subtle but this issue called for it being on this page.

On Aug 20, 2017 7:53 PM, "Lilian Anatolie Moraru" <notifications@github.com>
wrote:

[2017-08-21 03:06] mauricio opened #994 "Improve conduit documentation or move out of it?"
Conduit doesn't have much docs and this makes it harder to try and figure out what's going on in the repo, to make it easier for people to contribute it would be nice if we could either improve conduit as well or maybe use some other framework like iron?

[2017-08-21 03:18] antoyo opened #995 "Only interpret README files whose filename ends in `.md` as markdown, render plain text otherwise"
Hello.
If the readme is in the asciidoc(tor) format, it is not rendered correctly on crates.io.
[Here's an example.](https://crates.io/crates/relm)
Thanks to fix this.

[2017-08-21 03:18] mauricio commented on #717
This doesn't happen anymore, was fixed by https://github.com/rust-lang/crates.io/commit/b12e3ce6f02de2266f256166d8da7373aaefcb53 .

[2017-08-21 05:44] debris commented on #986
I experienced the same issue

[2017-08-21 05:46] debris opened #997 "Cargo owner --add fails"
Also `cargo owner --add` constantly fails with.

[code]

When I entered the website, I got logged out after refreshing the page. Might be related to #986

[2017-08-21 10:47] autodidaddict commented on #721
I think that's a more appropriate location. I also noticed that you can't get to it from the `manifest` docs. I'd like to suggest then :
* Add a link to the category slugs from the "Publishing on crates.io" with a nice paragraph on picking categories for your crate
* Add a link to the category slugs from the Cargo.toml manifest documentation

Is there a guide for how to make a "good" crate? Becaus

[2017-08-21 12:19] ctz opened #998 "Set rel=nofollow for links in crate readmes"
It would be a shame if crates.io's good standing was used by spammers for SEO. For that reason I think `rel=nofollow` should be set for links from crate readmes.

Thoughts?

[2017-08-21 15:12] anthonynguyen commented on #965
Seems like the Markdown renderer renders this just fine, but after Ammonia sanitizes it, all the `<br>s` get closed and that's what does the weird stuff.

----

##### original.md

[code]

##### rendered.html

[code]

##### cleaned.html

[code]

[2017-08-21 18:21] dragostis commented on #984
@kureuil How does serde do it since it only has a symlink to the `README.md`, whose path is literally `../README.md`?

[2017-08-21 18:28] kureuil commented on #984
I'd say that the symlink is replaced by the actual file when you run cargo
publish.

This way the readme path in the manifest doesn't reference a file that is
not contained in the crate.

Le 21 août 2017 8:21 PM, "Dragoș Tiselice" <notifications@github.com> a
écrit :

[2017-08-21 19:28] Phrohdoh commented on #992
Closing as a reverse-duplicate of #993.

[2017-08-21 19:28] #992 closed

[2017-08-21 19:28] Phrohdoh commented on #993
https://crates.io/crates/timi has an ascinema cast.

[2017-08-21 19:54] autodidaddict commented on #680
I have this change in a local branch. I want to do more testing then I'll submit a PR.

[2017-08-21 23:45] Eijebong commented on #965
This i fixed in ammonia 0.6 :)

[2017-08-22 00:43] carols10cents commented on #994
I'm not opposed to changing frameworks, but it is rather risky, and I'd want to see if we could migrate in small, deployable pieces. Also the web framework space in Rust feels rather exploratory at the moment-- I don't know enough to choose between iron, nickel, rocket, gotham, cargonauts, etc.

So for the moment, since crates.io is a functioning production service that I don't want to break light

[2017-08-22 00:43] #994 closed

[2017-08-22 00:44] carols10cents commented on #717
Sounds good!

[2017-08-22 00:44] #717 closed

[2017-08-22 00:49] carols10cents commented on #988
@jtgeibel unfortunately i don't think your PR will help this :( Here's how I'm able to reproduce, I'm not sure exactly what steps @autodidaddict took but I suspect it's similar to this:

- Run `cargo test` once (which compiles the tests)
- `psql` and `drop database cargo_registry_test; create database cargo_registry_test;`
- do not change any files, do not add any migrations, do not pass go, do no

[2017-08-22 02:31] anthonynguyen commented on #993
Seems like it's fixed now, right?

[2017-08-22 02:31] #967 closed

[2017-08-22 02:51] olson-sean-k commented on #993
Indeed! Looks nice now. Thanks! :-)

[2017-08-22 02:51] #993 closed

[2017-08-22 05:10] vignesh-sankaran opened #1000 "Cargo functionality testing suite"
I'll add to this idea over time, as an initial thought, we could run all the cargo subcommands that are linked to crates.io and ensure that they all work. Maybe we could have this as a separate TravisCI test, whether built with Rust or shell scripts.

EDIT: Oh yay this is issue 1000 :)

[2017-08-22 11:40] dragostis commented on #984
Then I don't see why it cannot do the same in the other case.

[2017-08-22 13:23] kureuil commented on #984
Because that would involve creating a file outside of the crate folder.

We can render `serde`'s README because their mainfest file references `README.md`, which is a valid file that happens to be a symlink to `../README.md`.
We can't render `openssl`'s README because their manifest file references `../README.md`, which is not contained in the crate file and thus cannot be analyzed by crates.io.

[2017-08-22 14:13] dragostis commented on #984
@kureuil Of course, but that will make GitHub render it again. Which means I'll have to rename the file. I guess this is a decent solution, but might it be an interesting idea to have a separate directory inside of the crate archive where such files can be stored?

[2017-08-22 17:02] dtolnay opened #1001 "Mark fields that are used by shields.io"
The shields.io service expects certain fields to exist in the JSON response of `'https://crates.io/api/v1/crates/' + crate` -- listed [here](https://github.com/badges/shields/blob/6534a2a1a821da91854d5d940f6e469c1c4851e2/server.js#L624-L663). In https://github.com/badges/shields/issues/1059 it looks like their license badge either never worked (?) or was broken at some point by a crates.io change.

[2017-08-23 04:05] sfackler commented on #984
https://github.com/sfackler/rust-openssl/commit/ca40c2e6a3b4c09698478ff54da8bdf8f857d134

[2017-08-23 12:11] vignesh-sankaran opened #1003 "Support different authentication schemes"
If crates.io is hosted within a company, it would be nice to have it support different authentication schemes e.g. SAML etc. This would be a large undertaking.

[2017-08-23 12:12] vignesh-sankaran commented on #808
Is this still being worked on @natboehm?

[2017-08-23 12:25] carols10cents commented on #808
Yes, she's still working on this.

[2017-08-23 17:47] autodidaddict commented on #496
Is there a script or something we can use to fill a sample set of dummy crates locally so that we can test things like this? There are some restrictions on what we can publish locally with `cargo` so I thought it'd be easier if we could just load up a database of fake crates.

[2017-08-23 20:47] retep998 opened #1005 "Neither readme nor description displayed if readme key points to file that does not exist"
https://crates.io/crates/winapi

![](http://i.imgur.com/SaoZSX4.png)

`Cargo.toml` has `readme = "README.md"` but there is no `README.md` causing neither readme nor description to display.

[2017-08-23 23:32] jtgeibel commented on #988
I originally ran into this in #762 and the build script was added in #767.  I think the main issue is that there is no way to wire in to `cargo test` to run code before running all the test binaries and I also don't think it is possible to force cargo to run the test binaries in a particular order.  On the other hand, the build script has errored on the side of checking for pending migrations more

[2017-08-23 23:48] jtgeibel commented on #717
@carols10cents I may be remembering this wrong, but I thought that for the routes `cargo` hits that it is always expecting a JSON response with an embedded error message instead of a 404.  I can't seem to find what gave me this impression though.

[2017-08-24 00:30] jtgeibel commented on #986
@ishitatsuyuki and @debris the issue with being logged out on a refresh should now be resolved by #910.  If you're still being logged out when refreshing a page please try clearing your browser cache and see if this is still an issue.  You're browser could still caching a version from before we added the necessary header.  Also keep in mind that we are using session cookies only right now, so you

[2017-08-24 02:47] Susurrus commented on #995
Same with [my crate](https://crates.io/crates/serialport). It might be too difficult to support asciidoc at this stage, but I'd suggest not rendering anything if the file doesn't end in ".md".

[2017-08-24 02:52] antoyo commented on #995
If someone is interested, I started a [crate to parse asciidoctor](https://github.com/antoyo/asciidoctor-rs).
It is far from finished and I don't have much time right now to work on it, so if anyone is interested, this can be used as a starting point.

[2017-08-24 07:07] dbrgn opened #1007 "Render Reference Links"
I hope this hasn't already been reported (I searched the issues for this bug), but it seems that reference links in README files are broken: https://crates.io/crates/threema-gateway

E.g. this line:

    [![Travis CI][travis-ci-badge]][travis-ci]

...has the following link reference definitions at the bottom of the README.

    [travis-ci]: https://travis-ci.org/dbrgn/threema-gateway-rs
    [travi

[2017-08-24 15:04] carols10cents commented on #997
`cargo owner --add` is functioning as I would expect.

Are you trying to add a user or a team?

If a team, github recently changed their oauth implementation, and you have to explicitly grant access for each oauth token to each organization, and the organization must not be blocking access. We have some docs for this here: http://doc.crates.io/crates-io.html#github-permissions

Please let me know

[2017-08-24 15:29] carols10cents opened #1008 "When ammonia supports allowing only certain values for attributes, re-enable syntax highlighting"
We [had to disable classes on `code` tags](https://github.com/rust-lang/crates.io/commit/2bf0ce294a90e60665782058b4fbcfb41395394b) because [you could use arbitrary classes to do arbitrary things](https://github.com/ChALkeR/notes/blob/master/Improper-markup-sanitization.md). So for now, syntax highlighting in readmes is disabled.

[I've filed an issue with Ammonia to request being able to specify a

[2017-08-24 15:47] debris commented on #997
I'm trying to add a team. Thank you for the link! I will contact my organization admin and see if it works.

In the meantime, after I've reauthorized crates.io for my profile, I tried to add my organization anyway (even though I knew It will fail).

That's the error message, I got. I think it's a regression compared to what it used to be ;)

[code]

[2017-08-24 16:09] kureuil commented on #1007
This seems to be a duplicate of https://github.com/rust-lang/crates.io/issues/966, the markdown parser we're currently using is having trouble with these links in images.

Should be fixed when https://github.com/rust-lang/crates.io/pull/981 will be merged.

[2017-08-25 15:36] baileyn commented on #989
I'd like to tackle this issue if that's okay.

[2017-08-25 19:04] carols10cents commented on #1007
Closing as duplicate of #966.

[2017-08-25 19:04] #1007 closed

[2017-08-25 19:31] carols10cents commented on #496
@autodidaddict not really. How comfortable are you with SQL? If you have two crates published, it shouldn't be too bad to insert an association record for them in the database directly.

[2017-08-26 00:10] mike-engel opened #1012 "Provide an endpoint to view the owner of a token"
Howdy Crates.io team!

As a dev/publisher on crates.io, I usually want to know who I'm logged in as via `cargo` but have no way to know. npm has something similar with `npm whoami` which helps me make sure that I'm both logged in and logged in as who I think I am before I publish a crate.

I just switched to a new computer, so I couldn't remember if I had logged into cargo yet, which is where this

[2017-08-26 16:20] #934 closed

[2017-08-26 17:47] #986 closed

[2017-08-26 19:03] #978 closed

[2017-08-26 23:26] carols10cents commented on #983
Tables are rendering now so I'm going to close this-- we didn't have any styling on them, so they're not super nice looking right now but I've got a PR out for that :) https://github.com/rust-lang/crates.io/pull/1016

[2017-08-26 23:26] #983 closed

[2017-08-26 23:27] carols10cents commented on #966
This has been fixed by https://github.com/rust-lang/crates.io/pull/981!

[2017-08-26 23:27] #966 closed

[2017-08-26 23:27] carols10cents commented on #978
This has been fixed by https://github.com/rust-lang/crates.io/pull/981!

[2017-08-26 23:39] carols10cents commented on #1012
So I *think* this is already technically possible, but I'd like to make one change before adding it to a cargo command. I just tried this:

[code]

and got:

[code]

so cargo could parse out the user login value and display that!

The change I'd like to make is to move the `/me` backend routes under `/api/v1` like the other backend routes ([see some discussion here](https://github.com/rust-lang/cr

[2017-08-27 00:26] carols10cents commented on #1012
That wasn't too bad-- I've got #1017 open :)

[2017-08-27 00:40] carols10cents commented on #1005
So we just deployed a change to which crate we used to render readmes and rerender everything, and winapi still doesn't have a readme, but now the description IS displaying. I'm... not sure why, but this looks fixed now to me.

[2017-08-27 00:40] #1005 closed

[2017-08-27 01:52] carols10cents opened #1019 "Render-readmes script should fall back to checking crate.readme in the database for the most recent version"
There are some crates that have a readme specified in Cargo.toml, but exclude the README.md file from the archive (see #968). So render-readmes can't find the README.md in the .crate files from s3.

HOWEVER, we happen to have in the database the most recently published (which should probably be latest semvertically, see #953, #894) README.md that's used for searching. We *could* at least check tha

[2017-08-27 01:54] carols10cents commented on #968
So because you have [an `include` key in tokei's Cargo.toml](https://github.com/Aaronepower/tokei/blob/master/Cargo.toml#L6-L14) and the value for `include` does not list README.md, the README isn't actually in the `.crate` archives. Do you not want your README in the .crate files purposefully?

I see that tokei's readme DOES show up on https://crates.io/crates/tokei now, because you've since publ

[2017-08-27 02:10] Aaronepower commented on #968
@carols10cents I excluded the README since I had to add the include at one point as I was hitting the 10MB limit for a crate on [https://crates.io](crates.io), and since I don't think anyone can actually request the crate's source I didn't think it needed to be included.

[2017-08-27 03:08] mike-engel commented on #1012
You're awesome @carols10cents, thanks! I'll keep an eye on that PR and once that's merged in, open a PR in the cargo repo for a `whoami` command 🙂

[2017-08-27 08:54] dns2utf8 opened #1020 "Render code blocks with syntax highlighting"
Thank you for the cool feature.
I noticed that it currently does not render rust code with highlighting.

In one of [my crates](https://crates.io/crates/drop_guard) I have a code example with  a ´```rust´ block.
Can you extend it to highlight the code?

Best regards

[2017-08-27 14:56] sualeh commented on #938
Sounds like a good idea. You will need to build a database with all the migrations in place, and then run SchemaCrawler. SchemaCrawler can not only produce an ER diagram for documentation purposes, but also a textual description of the schema which can be pushed using a PR. The a textual description of the schema is designed to be diff-ed with previous versions, making it easy to see schema change

[2017-08-27 16:00] jtgeibel commented on #717
I've taken a closer look and I don't see any issue with returning a 404 to cargo for the download route.  This route is handled differently by cargo than other api requests.

[2017-08-27 16:06] carols10cents commented on #1020
We had to disable syntax highlighting temporarily for security reasons-- https://github.com/rust-lang/crates.io/issues/1008 we're waiting on the next Ammonia crate release to re-enable.

I'm going to close this as a duplicate of #1008 :)

[2017-08-27 16:06] #1020 closed

[2017-08-27 16:13] carols10cents commented on #938
Diesel already produces a textual description of the schema here: https://github.com/rust-lang/crates.io/blob/master/src/schema.rs

[2017-08-27 16:27] dns2utf8 commented on #1020
Works for me. Thank you.

[2017-08-28 09:49] nox commented on #204
If hex.pm can manage to not rely on JavaScript, why can't crates.io, given we have vastly more important community than Elixir's?

[2017-08-28 14:32] carols10cents commented on #204
@nox We're working on it! Unfortunately, everyone working on crates.io is a volunteer, so these things take time. Thank you for your patience!

[2017-08-28 14:48] carols10cents commented on #679
I haven't heard of this happening recently, so I'm going to give this a close. If anyone sees this again, please reopen!

[2017-08-28 14:48] #679 closed

[2017-08-28 17:24] carols10cents commented on #680
Fixed and deployed to production!! Thank you @autodidaddict!

[2017-08-28 17:24] #680 closed

[2017-08-29 20:55] #998 closed

[2017-08-30 00:01] carols10cents commented on #965
Upgraded, deployed, and confirmed fixed!!

[2017-08-30 00:01] #965 closed

[2017-08-30 00:10] carols10cents opened #1025 "Prerender only max version of crates' readmes, lazily render/cache older versions' as requested"
It takes a long time to rerender all the readmes for all the versions on crates.io :(

I think a way to cut down on this time by a lot is just to render fewer versions upfront, and render the rest on-demand. What I'm envisioning is:

- Change the readme rendering to be proxied through crates.io's backend rather than served from s3 directly. That way, we can check to see if it exists on s3 first, a

[2017-08-30 01:04] carols10cents opened #1026 "Add a way to only search some fields"
Currently when you do a search, we're looking in crate names, keywords, descriptions, and READMEs for matches, and there's no way to change that.

If we have an "advanced search" form, I could imagine having checkboxes for each of these fields/areas we search so that you could choose to only search in some of them, for example.

There's [a feature request in cargo](https://github.com/rust-lang/car

[2017-08-30 03:08] heisejason opened #1027 "rust- Lang / crates.io"

[2017-08-30 14:11] carols10cents commented on #1027
Hi! I'm... not sure what the issue here is, so I'm going to close this! If you elaborate on what this issue is about, please reopen!

[2017-08-30 14:11] #1027 closed

[2017-08-30 16:09] carols10cents opened #1028 "Idea: store unrendered READMEs on s3"
This is another idea for speeding up README rerendering, similar to https://github.com/rust-lang/crates.io/issues/1025.

Right now, part of the time that the render-readmes script takes is downloading the .crate tarballs from s3 and unpacking them to extract the README files. Every time we rerun the render-readmes script, it redoes all this work, even though the .crate files are immutable, and tho

[2017-08-30 17:04] carols10cents commented on #703
Ok, so in thinking about the implementation of this a bit more I'm starting to wonder if this is worth implementing right now. It might be, but I have concerns.

So implementing this as proposed requires looking at all the files in a `.crate` archive. We currently have a script, [render-readmes](https://github.com/rust-lang/crates.io/blob/master/src/bin/render-readmes.rs), that we can run to reren

[2017-08-31 18:19] behnam opened #1029 "Merge https://crates.io/install into http://doc.crates.io/#installing"
Since we are moving all cargo docs into the cargo repo, I think we can merge <https://crates.io/install> page into that repo as well, and redirect that URL to <http://doc.crates.io/#installing>.

What do you think?

[2017-08-31 18:23] behnam opened #1030 "Move Crates.io package policies to this repo?"
While we're moving cargo docs to <https://doc.rust-lang.org/cargo>, there's one page that's very crates.io-specific, and not build-system-specific: the [Crates.io package policies](http://doc.crates.io/policies.html).

Should we move that content to this repo, like <http://crates.io/policies>?

[2017-08-31 18:36] carols10cents commented on #1030
sounds good!

[2017-08-31 18:39] behnam opened #1031 "Branding updates for crates.io"
Since crates.io is getting some new design soon, and we're moving cargo docs to doc.rust-lang.org, I think it's a good time to update some branding matters of crates.io as well. Two things come to my mind right now:

* [x] On the header of <https://crates.io/>, it says "CARGO: packages for Rust". I think it can be more like "Crates.io: Rust Package Registry".

* [x] On the main page, it says "The

[2017-08-31 18:56] carols10cents commented on #935
This should be fixed now! https://crates.io/api/v1/crates/askama is showing me `"recent_downloads": 141` :)

[2017-08-31 18:56] #935 closed

[2017-09-01 18:18] djc commented on #935
Thanks!

[2017-09-02 13:08] nox commented on #204
@carols10cents Didn't see your answer earlier. ACK, and I'll sit in a corner and wait patiently.

[2017-09-02 13:50] bluss opened #1036 "Download breakdown by compatible versions"
Imagine [a crate](https://crates.io/crates/itertools) with some history.

We want to answer the question, is _someone still using_ `0.4.x` and _should it get bugfixes_?

It would be very useful if the download statistics could show statistics grouped by cargo's default compatible version cohorts, meaning that all 0.4.* downloads are one line, 0.5.* are one line, etc.

I don't consider it so useful

[2017-09-02 19:23] kejadlen opened #1037 "Anchor links on READMEs don't work"
GitHub automatically adds anchor links to header tags, allowing links to sections inside of a README. It would be nice if this also worked on crates.io.

Compare clap on [crates.io](https://crates.io/crates/clap) to [GitHub](https://github.com/kbknapp/clap-rs).

[2017-09-02 21:40] mersinvald opened #1038 "Crates.io crashed after I yanked my crate."
Sent detailed info to @steveklabnik

[2017-09-02 22:52] #439 closed

[2017-09-04 01:31] carols10cents commented on #499
I'm closing this since the cargo docs are moving to mdbook and are going to be rendered completely differently :)

[2017-09-04 01:31] #499 closed

[2017-09-04 01:31] carols10cents commented on #273
I'm closing this since the cargo docs are about to be rendered completely differently using mdbook :)

[2017-09-04 01:31] #273 closed

[2017-09-04 06:59] bomgar opened #1039 "Org mode files are rendered as markdown"
Org mode readmes are rendered as markdown. This looks really broken.

Example: https://crates.io/crates/fw

It would be better to just render the raw content.

[2017-09-04 11:13] vignesh-sankaran commented on #703
So I've taken a look at this issue in (RFC 1824)[https://github.com/rust-lang/rfcs/blob/master/text/1824-crates.io-default-ranking.md], and the degree to which Rust code is well document is a score out of 1, with scores closer to 1 being better document. The calculation in the RFC was:

(`No of doc comment lines` + `No of README lines`) / (`LOC in Rust` - `No of doc comment lines`)

@carols10cents

[2017-09-05 11:32] sabinbajracharya commented on #962
I would like to work on this issue but [](https://crates.io/api/v1/summary) api does not return 'Most recently downloaded' information.

[2017-09-05 13:22] vignesh-sankaran opened #1041 "Idea: use a search engine to power search"
Just putting an idea out there, maybe we could look into using something like [Lucene](https://lucene.apache.org/core/) or ElasticSearch (powered by Lucene too if I'm not mistaken) sometime down the road. I interned in the Search Quality team at Seek Limited a couple of years back, so can ask some developers about some of the intricacies of setting this up if this is something of interest :).

[2017-09-05 16:01] kureuil commented on #1041
An [https://www.algolia.com/](Algolia "Algolia's website") employee once [said](https://github.com/rust-lang/crates.io/issues/205#issuecomment-153672545) that we were eligible for their free plan.
It could be simpler to setup in the near-term, though it's probably "safer" to be in control of all of the stack (also would avoid private crates.io instances depending on an external service).

[2017-09-06 00:20] carols10cents commented on #962
Yep, changing the API for the /api/v1/summary route to return this information is part of the issue actually. I got confused and thought #935 was about that, but it's not. Sorry for the misleading tags!

[2017-09-06 03:43] vignesh-sankaran commented on #1041
Yep, I feel we should be running it locally, because if we change the way we do search to an online service, it could be a problem for a private crates.io instance running behind a corporate firewall. That and we can't develop + test crates.io offline :).

So I've come back with a bag of alternative Rust-based search engines too we could look at, depending on what features we need and how complete

[2017-09-06 06:43] mattgathu commented on #911
Hi. I'm interested in implementing this. Can I be assigned. thanks

[2017-09-06 06:45] vignesh-sankaran commented on #911
Don't think we assign issues with this repo, you can just start working on it and submit a PR when you're ready :). Let us know if you have any questions :).

[2017-09-06 06:46] mattgathu commented on #911
cool. thanks

[2017-09-06 07:02] mattgathu commented on #911
Hi I have created a PR: #1042 that implements the tasks in the description.

[2017-09-06 09:00] Gedweb opened #1043 "Clean up outdated"
Vote feature required for outdated packages. Also maybe provide comments for a crate.
Voting results can be used for sorting result on search.

Why:
List of outdated in top search result
https://crates.io/crates/rest
https://crates.io/crates/http
https://crates.io/crates/date

[2017-09-06 16:54] alexcrichton opened #1046 "Panic in comrak"
I was poking around in logs and found this panic, which unfortunately would take down the server. Unfortunately I don't have the precise text that was being rendered offhand yt

[code]

[2017-09-06 16:54] alexcrichton commented on #1046
I think the crate may be this one: https://crates.io/crates/ansi_term

[2017-09-06 17:00] alexcrichton commented on #1038
I believe this was related to https://crates.io/crates/test-max-version-example-crate and the logs look like:

[code]

I'm not sure that crates.io was taken down by this, the panic in https://github.com/rust-lang/crates.io/issues/1046 was happening around the same time so it may have been coincidental. Regardless we shouldn't ever return a 500, so there's still a bug somewhere.

[2017-09-07 00:33] carols10cents commented on #1043
We are not implementing voting or comments due to the moderation burden it would incur. Please see [the discussion on this RFC](https://github.com/rust-lang/rfcs/pull/1824).

The "Recent downloads" sorting option is meant to help find crates that are recently popular.

What searches were you doing that these crates came up for?

Also note that [the http crate will soon be getting a new version](ht

[2017-09-07 00:46] carols10cents commented on #1041
I'm interested in knowing exactly how a different search will improve on results, and what they make possible that isn't possible with postgres, before adding another dependency. Postgres has quite powerful search capabilities, but we're definitely not using them all in the best ways we could be. I'd be worried we'd switch to something else that we also wouldn't spend time tuning and be no better

[2017-09-07 11:07] ogham commented on #1046
So last night I published ansi_term v0.10.0, got a 500 error, saw that it was listed on crates.io, shrugged, and moved on. This morning I saw that it was gone, so I tried again, and got that same 500 error. Apparently doing that breaks stuff. I won't try and publish it again!

The string that's causing it to fail on occurs in [README.txt](https://github.com/ogham/rust-ansi-term/blame/master/README

[2017-09-08 11:12] vignesh-sankaran commented on #704
Could we close this issue @carols10cents? I think everything for this issue has been implemented.

[2017-09-08 11:22] iqualfragile commented on #204
ok, so fastboot has now landed, what can i do to help enable people to view static content without executing a turing complete language on their mobile cpus?

[2017-09-08 21:36] Gedweb commented on #1043
No matter how it will be found - crate name busy, but crate abandoned. A moderation burden is not required, it can be just addition info for research.
Count of downloads can't show what crate can be used.

Type "rest" and try found alive crate. You need watch into page of crate and repository, to be sure on it.
Little bit more info about crate is required.

[2017-09-09 16:53] carols10cents commented on #1043
Moderation of comments and ratings is required due to the Rust community standards.

Even abandoned crates can be used. Just because there hasn't been development lately, doesn't mean the crate doesn't work.

If comments and ratings are the more info that you want, those comments and ratings will also get out of date. If you want commit information in crates.io, that's not available for all crates

[2017-09-09 16:53] #1043 closed

[2017-09-09 17:04] Gedweb commented on #1043
Any questions about Rust provide inactivity or resistance from "community" (necessary people with privilegios in primary).

[2017-09-09 18:06] carols10cents commented on #911
Hmmmmmm, so I published cargo-registry 0.2.0, and [it's up on docs.rs](https://docs.rs/cargo-registry/0.2.0/cargo_registry/), but I don't see private things like [the `DOCUMENTATION_BLACKLIST` constant](https://github.com/rust-lang/crates.io/blob/master/src/krate.rs#L41-L43) in the docs :( I'm not sure what's wrong, going to open an issue with docs.rs to try and figure it out.

[2017-09-09 21:48] carols10cents commented on #1046
Hi! Sorry about this @ogham! It appears to be the `’` characters that are causing a problem for some reason, I've [filed a bug with comrak](https://github.com/kivikakk/comrak/issues/37).

In the meantime, I don't want to prevent you from publishing a new version! If you want to publish immediately, I think replacing the `’` characters in your README.md with `'` characters should do it (the text in

[2017-09-10 16:21] carols10cents commented on #704
Sounds good!

[2017-09-10 16:21] #704 closed

[2017-09-10 22:36] carols10cents commented on #1046
ACTUALLY I just found out this is fixed in comrak 0.1.9! Updating now!

[2017-09-10 22:45] #1030 closed

[2017-09-10 22:47] #1029 closed

[2017-09-10 22:52] carols10cents commented on #290
Per [RFC 1985](https://github.com/rust-lang/rfcs/blob/master/text/1985-tiered-browser-support.md), Opera is not one of the supported browsers. We'll accept pull requests to fix any of these issues, but we've chosen to spend time elsewhere rather than on supporting every version of every browser. Thanks!

[2017-09-10 22:52] #290 closed

[2017-09-10 22:53] carols10cents commented on #204
@locks @Turbo87 I know yinz have been busy lately, could you give a status update on crates.io using fastboot please? What work is left to do? Is there anything blocking?

[2017-09-10 22:56] carols10cents commented on #281
This looks old-- exact matches have been getting pulled to the top for a while now, so searching for "bytes" or "cargo" has those crates listed first. Please reopen or file a new issue if you have examples of other searches that don't return what you'd expect!

[2017-09-10 22:56] #281 closed

[2017-09-10 22:59] #911 closed

[2017-09-11 18:32] carols10cents commented on #1046
@ogham Deployed the fix to staging and was able to publish ansi_term 0.10.0 without errors and the README is rendering: https://staging-crates-io.herokuapp.com/crates/ansi_term

So I deployed to production! Please try publishing again-- I'm going to close this because I'm pretty confident it's fixed, but please reopen if you still get an error :)

Sorry about that!!

[2017-09-11 18:32] #1046 closed

[2017-09-11 22:16] carols10cents commented on #911
v0.2.1 works!!!!! https://docs.rs/cargo-registry/0.2.1/cargo_registry/krate/index.html shows private stuff!!

Thank you @mattgathu and @onur!!

[2017-09-12 00:26] notriddle-cerebrum commented on #1008
Ammonia supports it now.

[2017-09-12 00:26] notriddle commented on #1008
https://github.com/rust-lang/crates.io/pull/1044#issuecomment-328379612

[2017-09-12 21:50] danielpclark opened #1049 "Mac OSX index download significantly slower than Linux"
I have TravisCI run tests for my Rust project on both and Ubuntu image and OSX.  When the process gets to getting the cartes.io index it's instantaneous on the Ubuntu image but for Mac OSX it sits about 3 to 5 minutes before downloading its crates.  The downloads are fast once they start so it's not a connection issue.

You can look at my project for the difference in time stamps: https://travis-c

[2017-09-12 21:50] danielpclark commented on #1049
I'm moving this to cargo.

[2017-09-12 21:50] #1049 closed

[2017-09-12 21:55] tadman commented on #281
Yeah, things look much better now. Thanks!

[2017-09-13 06:45] mattgathu commented on #693
Hi @dtolnay @carols10cents I have made a PR that addresses this issue. 🙂

[2017-09-13 23:19] Turbo87 commented on #204
@carols10cents next step would be to cleanup and finish https://github.com/rust-lang/crates.io/pull/819 in some way. unfortunately my dayjob keeps me pretty busy at the moment, but I'll try to have a look at it when I find a bit of time... 😞

[2017-09-13 23:37] carols10cents commented on #160
Discussion of this should now happen on [RFC 2129](https://github.com/rust-lang/rfcs/pull/2129), and if that is accepted, it'll get its own tracking issue, so I'm going to close this one.

[2017-09-13 23:37] #160 closed

[2017-09-13 23:45] carols10cents commented on #386
I don't know of a way we can reliably detect the difference between a legitimate download and bot downloads. In addition to download numbers *inflated* by bots, download numbers are likely also *deflated* by caches. The download number is always going to be inherently fuzzy, so I'm giving this a close.

[2017-09-13 23:45] #386 closed

[2017-09-13 23:47] carols10cents commented on #333
I don't see this text on http://doc.crates.io/guide.html anymore; and in any case, the documentation for crates.io lives in [cargo's repo](https://github.com/rust-lang/cargo). Please reopen this issue over there if this is still a problem!

[2017-09-13 23:47] #333 closed

[2017-09-13 23:48] alexreg commented on #333
How odd that such documentation lives there! Well, someone else must have noticed the issue... it's only been a year and some months since I reported it haha.

[2017-09-14 00:08] carols10cents commented on #585
As mentioned in https://github.com/rust-lang/crates.io/pull/597, crates.io now gets an A-! Closing!

[2017-09-14 00:08] #585 closed

[2017-09-14 00:13] carols10cents commented on #735
This is a duplicate of #240. Closing!

[2017-09-14 00:13] #735 closed

[2017-09-14 03:19] erickt opened #1051 "Scan uploaded crates for viruses"
We should scan uploaded crates for viruses. Simplest option would be to use clamscan from [clamav](https://www.clamav.net/). There's also virus scanning services like https://www.virustotal.com/ too. Possibly some products we can buy to do the scanning.

[2017-09-14 05:04] vignesh-sankaran opened #1052 "Reserved crate names related to Rust Project"
Came across [this project](https://github.com/nrc/rls-crate), and feel like this isn't the only one I've come across in the name of reserving a crate name. Maybe we could have a list of project names directly linked to The Rust Project that are reserved and can't be used?

[2017-09-14 05:05] vignesh-sankaran commented on #1041
This is something that needs to be researched, and I'm currently unable to do that :(

[2017-09-14 07:49] pczarn commented on #386
To detect the difference, bots could be modified to say they're bots while communicating with crates.io. However, you may be right about caches.

[2017-09-14 10:33] tshepang commented on #386
It is better to have a lower number (caches) than an inflated number (bots), so having bots say they are bots is one thing, but even better would be if cargo can detect if it's being run manually.

[2017-09-14 10:42] vignesh-sankaran commented on #1051
Think we'd want the antivirus to be libre if we set this up, and ideally works independently of an external service. Clamav sounds like it could fit the bill, though we'd need to figure out how to get clamscan to run against a new upload since I'm not sure how to get the daemon to run from Rust code. Thoughts @carols10cents?

[2017-09-14 11:22] locks commented on #204
I've also been busy with work, and I believe that's also true for @sivakumar-kailasam. It's still on my mind!

[2017-09-14 11:25] sivakumar-kailasam commented on #204
I have a mini vacation coming up in a couple of weeks. I hope to revisit this then.

[2017-09-14 15:23] carols10cents commented on #1052
What would the purpose of such a list be? How do crate names reserved by Rust team members differ from crate names reserved by anyone else? https://crates.io/crates/rls

[2017-09-15 18:09] carols10cents opened #1058 "Crates who have yanked all their versions should only return name, owners, and that it's yanked"
In search results and on the crate's page, we should be displaying crates with all of their versions yanked (henceforth referred to as "yanked crates") differently (https://github.com/rust-lang/crates.io/issues/145), but the backend needs to tell the frontend that a crate is in this state.

Instructions for fixing this:

- [ ] Add a field named `all_versions_yanked` to [`EncodableCrate`](https://g

[2017-09-15 21:21] sfackler opened #1059 "Should publishes with versions only differing in metadata be allowed?"
For example, https://crates.io/crates/openssl-src has `110.0.0` and `110.0.0+1.1.0f`, which are semver-equivalent since build metadata doesn't affect the actual version. It seems like this probably shouldn't be allowed?

[2017-09-15 21:24] mbrubeck commented on #1059
Some previous discussion in https://github.com/steveklabnik/semver/issues/107

[2017-09-15 21:59] dead10ck commented on #1039
[Same for asciidoc](https://crates.io/crates/urlencode). Looks like it just assumes anything that starts with `README` is markdown.

[2017-09-16 01:16] sfackler opened #1060 "`isUnstableVersion` counts versions with build metadata as unstable and shouldn't"
https://crates.io/crates/openssl-src points to 110.0.0, but the newest release is 110.0.1+1.1.0f.

[2017-09-16 05:55] vignesh-sankaran commented on #1052
The main purpose would be make sure that no 3rd parties can use a Rust project-related name for another purpose. I don't think we can stop placeholder crates though. The case for this is a bit tenuous, yes.

[2017-09-16 15:22] carols10cents commented on #1052
Yeah so placeholder crates already solve this, the rust team can reserve crates like anyone else can and that prevents 3rd parties from using a name for another purpose. I don't think there's anything new to do here.

[2017-09-16 15:22] #1052 closed

[2017-09-18 20:08] tcbyrd commented on #970
Hey all! Just found this after reading through the roadmap for the rest of the year. Happy to help out and submit my first PR to the project, but first wanted to just discuss what I found.

If the docs div is increased to 640px, the overflow goes away in this example without any major side effects:
![screenflow](https://user-images.githubusercontent.com/13207348/30561025-b87fba50-9c87-11e7-8cf6-f3

[2017-09-18 21:00] joshtriplett commented on #970
@tcbyrd I think the right solution would be to widen the containing div as well (the beige area) and leave the authorship sidebar the same size. Some other pages already have a wider content area.

[2017-09-18 23:46] tcbyrd commented on #970
I agree. 960px is a pretty decent width for the whole thing. I pulled down the source and noticed this doesn't change the docs because they are hosted on GitHub Pages. To make it consistent we'd also need to change [this line](https://github.com/rust-lang/cargo/blob/73eb8c424dc3732cea23769982d0e4e261d5399e/stylesheets/all.css#L6) in [`rust-lang/cargo/tree/gh-pages/stylesheets/all.css`](https://git

[2017-09-19 05:12] softprops opened #1063 "considerations on parking"
I am aware that crates.io is uses first come first serve policy for publish crates but I find this use questionable an cause for the concern

![screen shot 2017-09-19 at 1 05 26 am](https://user-images.githubusercontent.com/2242/30576566-c6c5d1a4-9cd6-11e7-81bb-4453fe474070.png)

What your seeing is what a first time rust user would see when visiting crates.io in the very first list of crates to s

[2017-09-19 05:15] softprops commented on #1063
I do not expect a policing policy but I'm aware one of the efforts of 2017 is to make good quality crates easier to discover. This users's behavior seems to be directly working against this goal. I think there should be a means of reported abuse.

[2017-09-20 02:11] treiff commented on #1008
I'd like to give this a shot. I'll let you know if I have any questions, thanks!

[2017-09-20 03:51] Boscop opened #1065 "Crates.io search for crate-name doesn't find crate_name"
E.g. try searching for "serde-json" (serde_json), "noisy-float" (noisy_float) etc.
It doesn't find them but it should.

[2017-09-20 17:32] carols10cents commented on #1063
As you note, this isn't against the crates.io policies, so we are not going to remove these crates.

These crates will scroll off the "newest crates" list soon.

We plan to continue the work [we've been doing](https://github.com/rust-lang/rfcs/pull/1824) to increase signals of good crates for people to use when evaluating crates. The name shouldn't be the only indication that you've found a good c

[2017-09-20 17:32] #1063 closed

[2017-09-20 17:55] carols10cents commented on #1059
Sure sounds like we should be disallowing versions like these that only differ in build metadata....

[2017-09-20 17:59] carols10cents commented on #1060
Yep, looks like [this `isUnstableVersion` function](https://github.com/rust-lang/crates.io/blob/264dd1a53d5055693a44654aad006cb6cf68bf7f/app/routes/crate/version.js#L21-L41) is treating build metadata as if it were a prerelease version.

I think a fix to paper over this problem would be to add `+` to [this conditional](https://github.com/rust-lang/crates.io/blob/264dd1a53d5055693a44654aad006cb6cf6

[2017-09-21 13:52] treiff commented on #1008
Hi @carols10cents, quick question on this.  I've pretty much wrapped up all the checklist items and had published a create locally with some syntax highlighting.  That said, when I view the crate details the `README.md` I created is not displayed and 404's.

The URL it's trying to reach is `http://localhost:4200/readmes/hello/hello-0.1.0.html` (hello is the name of my test crate obviously), and th

[2017-09-21 15:14] carols10cents commented on #1008
Hi @treiff! Have you set up an s3 bucket locally, and put S3 config vars in your `.env`? If not, the files should be "uploaded" to your crates.io directory and served from there. When you run `cargo run --bin server`, do you see this?

[code]

If so, that means we can rule out s3 being the problem :)

Where you have crates.io's code checked out, can you look in `local_uploads/readmes`? Is there a

[2017-09-21 15:56] ogham commented on #1046
Thanks for sorting that out!

[2017-09-21 16:32] treiff commented on #1008
Thanks @carols10cents !  Okay, sounds like we can rule out `S3`.

I didn't ever setup a local bucket and can confirm that when running `cargo run --bin server`, I receive the local upload message.
[code]

Also, interestingly I don't have the `readmes` directory within `local_uploads`.  My directory structure looks like this (run from root of crates.io directory):
[code]

So based on that, I guess

[2017-09-21 18:31] stephanbuys commented on #1038
I'll take a stab at this one, got details from Carol - got an idea of what the issue can be.

[2017-09-21 18:41] #970 closed

[2017-09-21 22:50] sgrif commented on #1060
There are semver libraries for JavaScript aren't there? Is there a reason that we don't just use one of those?

[2017-09-22 06:04] neunenak commented on #491
I'll take a crack at this.

[2017-09-22 07:03] stephanbuys commented on #1038
I set  up a local crates.io instance, but was not able to reproduce this issue, also not 100% sure how to `yank` from local.
I get the feeling that alt-registries might actually be a dependency for this to be tested properly (without messing with `crates.io`) - suggestions on how to test/reproduce this with minimal disruption welcome.

[2017-09-22 09:11] stephanbuys commented on #1038
Ok - I discovered the `--index` flag for `yank` and after reading the `alt-registries` RFC and related info (I now understand the role `config.json` plays), I was able to publish and yank version std::u64::max:
`18446744073709551615.18446744073709551615.18446744073709551615`, anything bigger than that produces a `Error parsing major identifier for key 'package.version'` error in `cargo`.
Looked at

[2017-09-22 17:42] carols10cents commented on #1038
Ok, this sounds like it's not actually an issue then-- an error is what I would expect, and the crashing of crates.io was coincidental timing. u64::max versions should enough for anyone :)

Thank you for the investigation @stephanbuys, that was a huge help!!! ❤️

[2017-09-22 17:42] #1038 closed

[2017-09-22 18:11] carols10cents opened #1074 "Detect typo-squatting"
Edit distance of some small amount away from an existing crate, when detected send an email to help@crates.io with a link to the crate and a link to the crate that its name is close to?

[2017-09-23 16:15] Michael-F-Bryan opened #1077 "No longer able to log in with github"
I'm wanting to push a new version of one of my crates and found that I can no longer log into crates.io.

When I hit the "Log in with GitHub" button it pops up a new window which goes to the `/github_login` endpoint before being redirected to `/authorize/github?code=XXXXXXX&state=YYYYYY`. The window immediately closes and you get a nice red flash message saying:

[code]

Because I can't login, I'm

[2017-09-23 18:01] carols10cents commented on #1077
Hi @Michael-F-Bryan! I'm really sorry about that-- I'm looking into it right now.

What operating system and browser are you using, please?

[2017-09-23 18:28] carols10cents commented on #1077
I've just tried reproducing this on macos in firefox and chrome, as well as on Windows 10 using Edge 15, and on all of these, I'm able to log in successfully. Please do let me know what you're using.

Some other things for you to try:

- Log out of GitHub and then try logging in to crates.io, so that you'll be prompted to log in to GitHub as well

- Go to https://github.com/settings/applications a

[2017-09-23 18:43] carols10cents commented on #1039
I'm going to combine this with #995.

[2017-09-23 18:43] #1039 closed

[2017-09-23 18:53] carols10cents commented on #1012
Oops! #1017 was merged in (and deployed) a while ago but I forgot to comment & close this. Sorry about the delay, but the crates.io side is ready for this now!

[2017-09-23 18:53] #1012 closed

[2017-09-23 19:54] #1008 closed

[2017-09-23 21:34] seanlinsley commented on #1058
I'd like to work on this. It'll be my first Rust contribution! Thanks for making it so accessible to new people :octocat: ❤️ I actually got here from the RustConf keynote on YouTube.

[2017-09-23 23:08] TheDan64 commented on #1074
There were a few good ideas on the recent rust [subreddit post](https://www.reddit.com/r/rust/comments/70aq3b/attackers_are_typosquatting_package_names_in_the/). Maybe they could be evaluated?

[2017-09-24 01:01] mike-engel commented on #1012
No worries! I caught it, but haven’t had enough time to make a cargo PR yet. Thanks for the heads up though!

[2017-09-24 07:05] Michael-F-Bryan commented on #1077
This was on Arch Linux and Google Chrome.

I went back after half an hour or so and found that it had logged me in. It's working fine for me now, but I'm curious why there was the "invalid state parameter" error. Maybe there's a slight difference between what crates.io expects when you sign in with GitHub and what it actually gets?

[2017-09-24 15:12] carols10cents commented on #1058
Hi @seanlinsley!!! It's awesome to have you!! Please let me know if you have any questions ❤️

[2017-09-24 15:13] carols10cents commented on #1074
It would be awesome if you could list the ideas here with pros/cons of each!

[2017-09-24 15:31] #820 closed

[2017-09-24 15:32] carols10cents commented on #1077
We had a [similar problem](https://github.com/rust-lang/crates.io/issues/820) in the past when we tried to use the ember-fetch addon, but that caused the problem for everyone. I'm not sure what would cause the problem to happen intermittently; in order to debug this further we'd need to figure out what was different for you when it was happening :(

[2017-09-24 15:32] #1077 closed

[2017-09-24 20:28] lukaslueg opened #1084 "Invalid tarballs on crates.io"
There are some crates whose tarballs are zero-sized or otherwise invalid. Maybe those should be ferried across river styx? Among others:

* q 0.0.1
* db 0.0.1
* argo 0.0.1
* cssselect 0.0.1
* ferrite 0.0.1
* hashids-rs 0.0.0
* libbreakpad-client-sys 0.1.0
* mongo 0.0.1
* oxidation 0.0.1

[2017-09-24 23:24] TheDan64 commented on #1074
Sure, I will do my best to summarize:

* Silently flag any created crate with a name that is a [Levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance) to some number of popular crates' names, using a distance of < 2 or so. This would allow admin(s) to manually review flagged crates. Possibly with a dashboard for easier use and the ability to whitelist crates. ([src](https://www.

[2017-09-26 00:40] carols10cents commented on #1074
My preference would be to start with the lightest weight solution here, which would be the first one you noted, which is very similar to the description of this issue. Before changing policies or putting up barriers, I would like to be notified about what is happening, how often, by whom, and have time to adjust e.g. the edit distance before taking more drastic measures.

[2017-09-26 07:45] Deedasmi commented on #886
Decided to take a look at this. Something LIKE this should work: https://github.com/Deedasmi/crates.io/commit/0db75e73e0c638f1e0de204e4b2180c5a47cba2f

Three options:
* Test for information disclosure on mapping all diesel errors to their strings
* Match this specific error and return human, else just Err (so it 500's)
* Don't worry about the extra query and mark resolved.

Note: It was easier to

[2017-09-26 17:41] notriddle opened #1087 "Use a custom element for checklists instead of real `<input>`s"
When I type this Markdown into a README:

    - [x] Yes
    - [ ] No

crates.io renders it like this:

    <input type=check checked> Yes
    <input type=check checked> No

I can also type this in, and it will pass validation:

    <input type=check> Yes
    <input type=check> No
    <input type=text placeholder=Muahahahaha>

It should not be possible to produce interactive form elements in a READ

[2017-09-26 18:00] sgrif commented on #1087
The checkbox is already rendered as `disabled` and is not interactive in any way.

[2017-09-26 18:00] #1087 closed

[2017-09-26 18:03] notriddle commented on #1087
https://crates.io/crates/crates-readme-demo

[2017-09-26 18:06] carols10cents commented on #1087
I don't see how this is terrible if there's no way to exploit this. People can also use development tools to entirely change the markup of the page they're viewing locally and we can't prevent that either.

[2017-09-26 18:16] notriddle commented on #1087
I still don't really like it, but I get not wanting to fix things just because it might be exploitable in some future version of the crates frontend.

[2017-09-26 18:37] Deedasmi commented on #989
Any progress @baileyn? I might take a look soon if not.

[2017-09-26 19:06] Deedasmi commented on #752
We could modify the script to give you an example command.

[code]

Alternatively (or combined), we could rewrite init-local-index to be an absolute path (crate root) unless given a location parameter, in which case we could print as above or assume they know what they are doing if they are moving things.

[2017-09-26 19:07] Deedasmi commented on #877
Was this fixed? Can't reproduce.

[2017-09-26 19:08] sgrif commented on #877
Yes it was.

[2017-09-26 19:08] #877 closed

[2017-09-27 14:05] baileyn commented on #989
@Deedasmi feel free, I've been swamped. Thank you so much.

[2017-09-27 17:22] #989 closed

[2017-09-28 14:38] Deedasmi commented on #1065
I think I'll give this one a shot in the next couple days.

[2017-09-28 14:46] SeanPrashad commented on #1031
Hi there! I'm a student at Seneca College whose enrolled in an Open Source course taught by my professor and Mozillian, David Humphrey. I would love to tackle this bug if it's still available and unassigned.

[2017-09-28 18:54] behnam commented on #1031
Thanks for offering to help, @SeanPrashad! Let's see if we have more to do here, and if so, would be great if you can submit a PR.

IMHO, I feel like we're done here already. I mean, "The Rust community's crate host" title is in align with the "Rust Package Registry" that's in the header, and I think we better not to repeat the word "registry" too much.

What do you think, @carols10cents? Do we wa

[2017-09-28 19:21] Deedasmi commented on #685
Appears to be resolved.

[code]

[2017-09-28 21:07] sgrif commented on #685
Looks resolved to me as well.

[2017-09-28 21:07] #685 closed

[2017-09-29 14:34] carols10cents commented on #1031
@behnam Oh, I thought the idea was to switch to "registry" everywhere? I think to be consistent we should change "The Rust community’s crate host" to "The Rust community’s crate registry" :) It'd be awesome if you could take care of that @SeanPrashad!

[2017-09-29 16:20] SeanPrashad commented on #1031
@carols10cents @behnam I would be ecstatic to tackle it in the next few days when I get a break from classwork! I will notify you two once completed!

[2017-09-29 19:43] seanlinsley commented on #1058
When running `diesel migration run` I noticed this error:

[code]

The backend server appears to boot, though some tables are missing when running the tests:
[code]

The setup instructions say that `cargo test` should run the migrations automatically. Perhaps that's broken?

A caveat was that I ran `diesel migration run` (for the dev env) twice before it ran successfully (because of misconfigurati

[2017-09-29 20:01] seanlinsley commented on #1058
Indeed, the test database has no tables in it.

[2017-09-29 20:05] seanlinsley commented on #1058
Oddly `diesel migration run --database-url cargo_registry_test` doesn't do anything.

[2017-09-29 22:17] sgrif commented on #1058
It's a clap bug. https://github.com/kbknapp/clap-rs/issues/978 Unfortunately you need to do `diesel migration --database-url=... run`. Your database URL should probably be `postgres://localhost/cargo_registry_test`

[2017-09-29 22:19] sgrif commented on #1058
If you have `TEST_DATABASE_URL` set in a `.env` file, just running `cargo test` should migrate it automatically

[2017-09-30 00:46] aturon opened #1093 "Provide link to parent category"
Subcategories don't provide a way to get back to their parents. E.g., at https://crates.io/categories/development-tools::debugging, I expected "Development tools" to be a link.

[2017-09-30 01:15] aturon opened #1094 "Separate apps and libs in category listing"
From what I can see, each category is clearly either an "app" category or a "lib" category. I think it'd be helpful to somehow break up these two groups, rather than listing them interleaved. It'd make the category list a bit less overwhelming.

[2017-09-30 06:50] vignesh-sankaran commented on #912
Ok so I've had a look through the codebase, here's some suggestions of how we could move forward with the refactor of crates.io.

@jtgeibel recently create separate modules for `krate` and `version`. The next steps from here are to split out cargo and frontend related functionality in both modules into `cargo.rs` and `frontend.rs` separately.

An idea I've had is that we could put all the structs

[2017-09-30 23:42] kureuil commented on #912
Hey everyone, just giving my 2 cents this issue :)

So first of all, I don't really see the gain of tagging endpoints with *either* a  `cargo` or a `frontend` tag and I don't even think an explanation was ever given on how this improves on the status quo. Then, why only choose cargo ? A wiki page was recently created to [track projects that use crates.io's API](https://github.com/rust-lang/crates.

[2017-10-01 01:19] vignesh-sankaran commented on #912
Thanks for your input @kureuil, my responses are below.

So I think the reasoning for splitting modules into `cargo` and `frontend` modules is that we can split out the known endpoints, at least to us, and make changes to them independently of each other, and more importantly, not accidentally change something that will break the `cargo` endpoints. Yes, we don't know all external users, but we onl

[2017-10-01 01:23] vignesh-sankaran opened #1097 "Refactor backend tests"
So I'm thinking that we could restructure the tests so that all function-level tests are done within the module that they are contained within, and higher level tests that incorporate more functions can be done at that specific module. `src/tests` would be restructured so that they are only a blackbox test of the backend API.  If the tests become too long within a file, we can have those tests con

[2017-10-01 05:40] erewok commented on #962
Hi, I have been looking through this codebase and I'd like to take a shot at implementing the backend changes for this. I appreciate how you have organized this project and how you have encouraged people to get involved in Rust by helping out here. In that spirit, I would like to help.

@carols10cents I've been experimenting with the language by building small things for a few months, but I am new

[2017-10-01 06:51] kureuil commented on #890
Just chiming in here, but there already is a crate named `crates-io` on [crates.io](https://crates.io/crates/crates-io): it's the subproject from cargo that is responsible for communicaing with crates.io's API.

So I'm now sure about if/how we should rename this crate in the future.

[2017-10-01 12:40] kureuil commented on #912
I don't see why crates.io wouldn't be a public API service, as it seems that no-one is against having public documentation for the API endpoints (See https://github.com/rust-lang/crates.io/issues/731 and https://github.com/rust-lang/crates.io/issues/741). Limiting ourselves to only support the crates.io frontend and cargo seems like shooting ourselves in the foot (feet?) as the API is already publ

[2017-10-01 13:15] vignesh-sankaran commented on #912
My main concern here is that the crates.io backend isn't designed to support this use case in mind. An example of a service that is is GitHub, they created a GraphQL API because third party vendors were having difficulty querying specific data out of it. We simply don't have that knowledge ahead of time of third party users of the crates.io API to know what data is specifically most desired at lea

[2017-10-01 17:07] SeanPrashad commented on #1031
@carols10cents @behnam I just submitted PR #1098 which includes this small modification! Please let me know if there is anything else that I can help with!!

[2017-10-01 17:51] Turbo87 commented on #204
I've taken another look, and it seems one of the main issues that is preventing this so far is our use of localstorage to keep session data. It would be great if we could use https://github.com/simplabs/ember-simple-auth and/or https://github.com/Vestorly/torii for the GitHub login flow, but it seems that our use of their OAuth system doesn't match how torii is designed to do it.

Is there documen

[2017-10-01 18:10] esclear commented on #241
This issue is probably resolved already.

In [app.scss:136](https://github.com/rust-lang/crates.io/blob/master/app/styles/app.scss#L136) a background color for the search is set.

Considering that the background pattern shall remain in the header, there is no background set for the header, just `none` for its children (the buttons).

And since a [background-color is set for the `#main`-`div`](http

[2017-10-01 19:13] esclear commented on #1074
Hey, I would be interested in implementing this.

I think that we would need a list of popular crates first (possibly, like, the 50 most downloaded crates).

Having such a list, would make it possible to check whether there are already crates that might be typo-squats.

An actual implementation of just silently flagging the crate / sending the email upon creation shouldn't be hard to do in the end

[2017-10-01 19:35] Deedasmi commented on #1074
Hi esclear,

@carol10cents is looking at getting me a snapshot of the db in order to look into this. I'd be happy to work with you on it.

[2017-10-01 21:42] kureuil commented on #912
The thing is that even if it wasn't designed with this use case in mind, people are building tools against crates.io no matter what, and we probably should encourage a rich tool ecosystem imho. I think maybe another route to explore for a `/api/v2` would be [json:api](http://jsonapi.org) compliance, ember-data has a built-in adapter for these kind of backends might be interesting to see what it's

[2017-10-02 04:27] jtgeibel commented on #912
Thanks a lot for the feedback @vignesh-sankaran and @kureuil.

I agree, although so far I've been using that as a bit of a shorthand.  I think it makes sense to group cargo related functionality together and agree that `frontend` code can be broken down better.  I've seen some good suggestions in this thread and have tried to incorporate them.

When it comes to cargo related endpoints, I think the

[2017-10-02 10:40] Keruspe opened #1099 "Latest updates in dashboard don't show up"
The HTTP request succeeds but the items are never displayed (the "My crates" and "Following" sections work as expected, but not the "Latest updates").

The console logs this error: "e.get(...).pushObjects is not a function"

[2017-10-02 17:09] yatriks commented on #1026
@carols10cents
Hey – will this involve extending the `api/v1/crates` endpoint to query particular fields?

It looks like this happens to some extent (https://github.com/rust-lang/crates.io/blob/master/src/krate/mod.rs#L630 for example looks for `&category=`, but all returned `cateogory` and `keyword` fields I saw were `null`, so I'm not sure if it's unimplemented.

(For info, I'm using the https:/

[2017-10-02 22:52] carols10cents commented on #1058
The trick is that `cargo test` migrates the database *when you compile the tests*, if you had the tests compiled previously, didn't change anything, and reran `cargo test`, that *wouldn't* migrate the test database :(

I'm not sure how to fix the underlying issue, ideas welcome over at https://github.com/rust-lang/crates.io/issues/988.

In the meantime, @seanlinsley, if you change a test file and

[2017-10-03 14:15] carols10cents opened #1103 "Github Oauth: ember-simple-auth and/or torii?"
From https://github.com/rust-lang/crates.io/issues/204#issuecomment-333393939:

@Turbo87 do you know specifically what's different about how crates.io is doing github oauth and how torii expects it to work?

[2017-10-03 14:15] carols10cents commented on #204
@Turbo87 There isn't much documentation on auth, no.. I thought it was pretty vanilla OAuth flow? I'm going to start a new issue to chat about oauth specifically: https://github.com/rust-lang/crates.io/issues/1103

[2017-10-03 14:16] carols10cents commented on #241
@esclear thank you for investigating this! Checking that it's indeed fixed is a huge help :) Closing!

[2017-10-03 14:16] #241 closed

[2017-10-03 14:22] tbu- commented on #204
Even if auth doesn't work without JS, it will still be a huge improvement. Would that be easier to implement?

[2017-10-03 14:23] Turbo87 commented on #1103
torii: the first difference that I've found was that in https://github.com/rust-lang/crates.io/blob/88a505c4071b799f280a94927ffb0dea340ad11c/app/routes/github-login.js#L4-L16 we are requesting the actual OAuth route from the backend instead of generating it on the frontend. it seems that torii is doing the whole OAuth flow on the client-side though. there might be a legitimate reason for that thou

[2017-10-03 17:33] treiff commented on #587
@carols10cents, @goertzenator If no one is working on this, I wouldn't mind giving it a shot.

[2017-10-03 20:50] carols10cents opened #1104 "Github team logins should be the primary key of teams, not github ids - we should update those"
To reproduce:

- Create a github org and a team in that org.
- Add that team as an owner of a crate with `cargo owner --add github:org:team`.
- Delete the team in github.
- Recreate the team *with the same name*.
- Add that team as an owner of another crate with `cargo owner --add github:org:team`.
- You'll now get an error that says only members of that team can add it as an owner

The problem is

[2017-10-03 21:14] carols10cents commented on #962
Hi @erewok!! Glad to have you here!! The behavior you're seeing with `cargo test` is definitely not expected... how can you tell it's only running the tests in `src/krates/mod.rs`? Could you gist the whole output you see from `cargo test`?

[2017-10-04 02:45] jtgeibel opened #1105 "Discuss rules for api deprecation and our stability guarantees"
In #1102 we recently touched on the concept of deprecation of unused api endpoints.  I'm not necessarily advocating for the removal of these routes, but I think they help provide concrete examples for discussing our stability guarantees when it comes to the api.

First, a few questions to consider:

* Should we require an RFC style process for removing old endpoints?
  * If so, should we also requ

[2017-10-04 02:48] erewok commented on #962
Hi @carols10cents. Thanks for the warm welcome! I am impressed with how well-run this project is.

At any rate, this morning I cloned the repo anew, built, and ran the tests and the problem seems to have disappeared. I'm not sure why it was ever there in the first place but it must have been user error. Thanks. I'm going to work on fixing the tests I wrote for the `api/v1/summary` endpoint.

[2017-10-04 15:58] anthonynguyen commented on #165
Is this resolved?

[2017-10-04 16:24] carols10cents commented on #165
#869 renders the *readme* markdown, this issue is for supporting markdown in the *description* in Cargo.toml. Unless the readme markdown rendering is sufficient for @tomaka's needs?

[2017-10-04 16:32] anthonynguyen commented on #165
It seems like the goal was for the page on crates.io to have a nicely-formatted info section, which is achieved by rendering the readme

[2017-10-04 16:47] tomaka commented on #165
What @anthonynguyen said.

[2017-10-04 16:47] #165 closed

[2017-10-04 19:46] esclear commented on #1074
Sure :+1:

[2017-10-04 22:45] esclear commented on #1074
Okay, I'm currently working on doing some data analysis.

The 50 most popular crates (considering all-time downloads) so far are:

<details>
<Summary>50 Most popular crates</Summary>

[code]
</details>

I shall provide a list of other crates with more or less similar names to these tomorrow.

[2017-10-04 23:25] esclear commented on #1074
Okay, I accidentally did it right now.
Seems like levenshtein distances above 3 produce results, that don't help at all deciding whether crates have similar names.

Turns out, that for the `idna`, `toml`, `itoa`, `term`, `mime` and `dtoa`-crates (plus some more) the levenshtein-approach could be a little problematic, if we use distances `>= 3` as an indication of possible typo-squatting, because t

[2017-10-05 00:32] Deedasmi commented on #1074
Because of #159 I've been hesitant to look at this via crates.io search.

I agree that we will have to adjust distances based on word length though.

[2017-10-05 02:14] carols10cents commented on #1031
This is all done now!

[2017-10-05 02:14] #1031 closed

[2017-10-06 12:58] esclear commented on #1074
This wasn't done via the search. I got a list of all package names from the crates.io-index and the 50 most popular crates along with downloads from the API.

After discussing typo-squatting with some friends, In my opinion it would be sufficient to flag any crates which name is similar to a popular crates name within a levenshtein distance of 1.
In the end it is unlikely to have two typos and hav

[2017-10-06 17:47] #1104 closed

[2017-10-08 01:28] treiff commented on #879
Planning on giving this a shot, if anyone is already on it let me know and I'll track down something else.

[2017-10-08 04:34] apeduru commented on #982
Confirmed working using absolute link.

[2017-10-08 04:34] #982 closed

[2017-10-08 15:34] kureuil commented on #1105
I find this to be a very good idea, though I'd advocate that is should be used to *deprecate* an endpoint and not remove it.

Probably, at least for the sake of consistency. Moreover, this would probably allow for a more cohesive and flexible API.

The [@cratesiostatus](https://twitter.com/cratesiostatus) twitter account would be available for that, though it may not be popular enough atm. Maybe b

[2017-10-09 14:46] a-dma opened #1113 "Easier access to project licenses"
I'm trying to put together a release tarball, and I would like to collect all the `LICENSE` files for my dependencies since most of the time these are required for proper copyright attribution and redistribution.

Whilst trying to do this, I realized that the process is far more convoluted than I expected (and than it needs to be). I ended up having to (semi-automatically) handpick all the files f

[2017-10-09 15:14] posix4e opened #1114 "What about deploying classic unix tools with cargo"
I'm thinking
  - bsdtar
  - some of the classic zip tools
  - Grep

It might be nice if we could be a standard of how to deliver source, compile  it and deploy it

[2017-10-09 18:11] #1065 closed

[2017-10-09 18:30] sgrif commented on #1114
This is probably something to open on the cargo repo, or maybe just ask in IRC (or write an RFC if you're looking to establish a standard)

[2017-10-09 18:30] #1114 closed

[2017-10-09 23:24] erewok commented on #1093
I was looking at this and another issue ([#721](https://github.com/rust-lang/crates.io/issues/721)) and I had a suggestion for organizing the `categories` table that I think would make these things easier.

Because the categories are hierarchical, it might be more ergonomic if the endpoints were able to rely more on the database to organize the data hierarchically.

I noticed there's a few places

[2017-10-10 00:06] carols10cents commented on #962
The backend for this is now done, thank you @erewok !!!!

[2017-10-10 00:17] carols10cents commented on #924
Invitations have been turned on!!! Thank you @sunjay and @natboehm!!

I think I'm going to split the remaining tasks into separate issues, since they're mostly enhancements, the main request is "done" at this point.

[2017-10-10 00:17] #924 closed

[2017-10-10 00:24] carols10cents opened #1116 "Add some sort of notification that you have invitations to own a crate"
@natboehm implemented the last big chunk of [inviting users to be owners](https://github.com/rust-lang/crates.io/issues/924) rather than just adding them!

Now there's a menu item in the user menu for "Owner invites", which lists pending invitations for you to accept or decline.

@natboehm also had a great idea that we should have some sort of notification that you have invitations to accept... I'

[2017-10-10 00:37] carols10cents opened #1117 "Add a UI for adding/removing someone as an owner of a crate"
Right now, you can only add or remove a person or a team as an owner of a crate using cargo's CLI. (Also right now you can only list pending invitations and accept or decline them in crates.io's web UI). This seems a little strange; it'd be nice to have a web UI for adding or removing owners of a crate that you're an owner on.

I'm not sure exactly what this should look like or how it should work

[2017-10-10 16:12] sabinbajracharya commented on #962
@carols10cents  As the backend is done, may I work on the front-end part?

[2017-10-10 18:19] carols10cents commented on #962
@sabinbajracharya absolutely!

[2017-10-10 19:28] sabinbajracharya commented on #962
rust-lang/crates.io#1121

[2017-10-11 12:50] treiff commented on #1037
I took a look at this, thinking it would be a pretty straight forward fix.  However, I'm thinking now it's a little more involved than I originally thought. Initially, I thought the issue stemmed from `ammonia` as we were not allowing relative URL's to pass through.

For example:
[code]

After modifying the [html_sanitizer](https://github.com/rust-lang/crates.io/blob/master/src/render.rs#L97) to a

[2017-10-11 14:48] kejadlen commented on #1037
IIRC, GitHub uses Kramdown, which has this to say about automatic header id generation: https://kramdown.gettalong.org/converter/html#auto-ids

[2017-10-11 17:19] dtolnay opened #1123 "Crates.io should output dates with timezone info in JSON"
I just published a new version of one of my crates and the page shows "Last Updated: in 7 hours".

---

![selection_070](https://user-images.githubusercontent.com/1940490/31455790-9a74c490-ae6d-11e7-8521-e9b7717cc30a.png)

[2017-10-11 17:51] Mark-Simulacrum commented on #1123
I'd guess this is timezone related.

[2017-10-11 18:25] carols10cents commented on #1123
@sgrif i thought diesel was setting UTC for everything?

[2017-10-11 18:28] carols10cents commented on #1123
API response for https://crates.io/api/v1/crates/isatty is currently showing:

[code]

Are you in UTC-8, @dtolnay ? Maybe this is a frontend problem where it's interpreting no timezone as local timezone and should be assuming UTC instead....

[2017-10-11 19:34] #393 closed

[2017-10-11 22:50] #587 closed

[2017-10-11 23:06] carols10cents commented on #1094
Funny story-- that's actually [how I had categories originally](https://github.com/rust-lang/crates.io/pull/488#issuecomment-265592223):

then [this comment](https://github.com/rust-lang/crates.io/pull/488#issuecomment-265596899):

then [this comment](https://github.com/rust-lang/crates.io/pull/488#issuecomment-265598665):

then [this comment](https://github.com/rust-lang/crates.io/pull/488#issuec

[2017-10-11 23:07] carols10cents commented on #1084
I'm not sure what to do about these other than forcibly yank these versions... but thank you for looking into this!

[2017-10-11 23:13] carols10cents commented on #1113
So another issue is that currently, crates are required to have either a `license` identifier OR a `license-file` key that points to a file in the tarball-- but if you have a `license` identifier, nothing in cargo or crates.io enforces that you've actually included a license file. So in order for this to be comprehensive, there would also have to be a SPDX ID -> license text component, and this is

[2017-10-11 23:14] #1113 closed

[2017-10-11 23:20] carols10cents commented on #1103
Something that makes me want to use ember-simple-auth is that it looks like it has really nice functions for doing auth in tests, [which would be useful](https://github.com/rust-lang/crates.io/pull/1100) :P

[2017-10-11 23:25] carols10cents commented on #1103
if using cookies instead of localstorage lets us use server-side rendering, i think that's a good tradeoff. I don't know of a particular reason why we're using localstorage.

[2017-10-12 07:57] a-dma commented on #1113
Thanks for the reply.

I see your point. However, I believe that if Cargo (and crates.io) enforces that a license is present in some way shape or form, it should also be responsible to make it retrievable.

I don't think many languages get the license issue right, but Cargo has a very good opportunity of doing so, in my opinion.

[2017-10-12 08:57] imp commented on #1123
It looks like #1081 has converted every `Timespec` into `NaiveDateTime`, which lacks timezone information. I think it is better to stick to `DateTime<Utc>` to keep the timestamps well ordered.

[2017-10-12 16:52] jrmuizel commented on #435
FWIW, https://github.com/ibabushkin/rust-semverver is an implementation of a checker for this kind of thing.

[2017-10-13 05:49] sagiegurari commented on #587
was this fix deployed to crates.io? because it doesn't work for me
https://crates.io/crates/rust_info

[2017-10-13 06:07] sagiegurari opened #1124 "appveyor link in crates.io is not correct even when setting new project_name attribute for projects with underscores"
I added project_name as defined in #587 but still the link created in crates.io is not working correctly.
what am I doing wrong?

https://crates.io/crates/rust_info

[2017-10-13 13:11] treiff commented on #1124
@sagiegurari, Yeah this is strange.  It looks like we show the badges in 3 places (that I'm aware of).

Looks like it went into master 2 days ago.  I'm not sure how often it's deployed.  With the recent PR this should work, unless there is something I'm missing.  If it's shipped, I'll take another look.

@carols10cents can you confirm if #1111 has been deployed?

[2017-10-13 13:30] carols10cents commented on #587
Not yet, sorry! Will deploy right now.

[2017-10-13 13:46] Hoeze opened #1125 "MX records for mail.crates.io"
Hi,
my mail server does not accept your mails from "mail.crates.io", since there are no MX records pointing to mailgun.us:
`Oct 13 15:33:57 *** postfix/smtpd[***]: NOQUEUE: reject: RCPT from rs224.mailgun.us[209.61.151.224]: 450 4.1.8 <bounce+***-***=***@mail.crates.io>: Sender address rejected: Domain not found; from=<bounce+***-***=***@mail.crates.io> to=<***> proto=ESMTP helo=<rs224.mailgun.us>

[2017-10-13 13:48] sagiegurari commented on #587
thanks

[2017-10-13 14:28] carols10cents commented on #1124
It was not deployed, but I just did! @sagiegurari I see your appveyor badge in the sidebar and clicking on it works for me, can you confirm everything is working as you'd expect now that I've deployed? 😅

[2017-10-13 14:33] sagiegurari commented on #1124
works great. thanks a lot 👍

[2017-10-13 14:33] #1124 closed

[2017-10-13 17:59] alexcrichton commented on #1125
@carols10cents you said awhile ago that we should set MX records for crates.io, but we couldn't do that due to using emails like help@crates.io on our DNS provider. This looks like it's for mail.crates.io, however, so I wonder if those records should be set for that domain name? (which I believe we can do)

If so, do you know what records I should configure?

[2017-10-13 18:32] Eh2406 commented on #1074
I to have some [prior work on this](https://internals.rust-lang.org/t/cargo-package-aliases/5870/6) and would love to be invalved in moving this forwerd!

I was starting to research adding a typo check to cargo-edit. It would be convenient if there was a API for getting the possible typos from crates.io. It would also be nice if they appeared prominently in the search results. For a good, but non

[2017-10-14 20:54] #943 closed

[2017-10-16 03:01] kivikakk commented on #1037
We don't use Kramdown; we use [`cmark-gfm`](https://github.com/github/cmark)/[`commonmarker`](https://github.com/gjtorikian/commonmarker), and then have our own user content stack which performs transformations to add stuff like these.

A fix is up at #1129; I've added a GitHub-compatible extension to Comrak which adds anchors to headers in the same manner (it is slightly different to Kramdown's),

[2017-10-16 08:32] kivikakk commented on #974
This is tricky; it won't work well in 100% of cases because a repository URL might be something like <<https://github.com/kivikakk/blah>>, but the URL to a file in that repository is like <<https://github.com/kivikakk/blah/blob/master/file.md>>.

We can assume that the main branch is `master` and so just always prepend `{repository}/blob/master/` and we'll get the 95% case fixed, which is way bett

[2017-10-16 09:21] kivikakk commented on #974
A proposal implementing the above is at https://github.com/rust-lang/crates.io/pull/1131. There's an ammonia-related caveat I'll see if I can get support from upstream for a fix.

[2017-10-16 10:43] kivikakk commented on #995
According to [`linguist`](https://github.com/github/linguist/blob/ea3e79a631fb2cd1f1b3c7fa9c6f68892b478892/lib/linguist/languages.yml#L2598-L2604), we might want to render Markdown for at least `.md`, `.markdown`, `.mdown`, `.mdwn`, `.mkd`, `.mkdn`, and `.mkdown`. I don't know the story of how each one got there personally, but it seems a fair assumption they were all added due to real-world use (

[2017-10-16 14:39] kvark opened #1132 "Unable to add an owner, no error"
[code]
Trying to add [this person](https://github.com/Rhuagh) to `collision` crate.
What's going on?

[2017-10-16 15:07] kvark commented on #1132
Apparently, adding a person sends an invitation. Cargo 1.22 writes:

So I suppose this is a non-issue. A person will appear in the actual list after the invitation is accepted.

[2017-10-16 15:07] #1132 closed

[2017-10-16 16:53] imp commented on #1123
This issue affects other tools that use `crates.io` API, such as `cargo-info`. It expects the timestamps to have timezone data. See below - the `RELEASED` field is blank:
[code]

[2017-10-16 17:16] carols10cents commented on #1132
Yup, you've got it! We [discussed how to surface this in cargo](https://github.com/rust-lang/cargo/issues/4537) and decided going to great lengths to surface invitations in old versions of cargo wasn't worthwhile.

[2017-10-17 04:56] kivikakk commented on #995
Looks like we need to transmit the README filename while uploading; right now we only upload the content: https://github.com/rust-lang/cargo/blob/ff9ca41fe754f94320ebe69acf4f44842edde3e4/src/cargo/ops/registry.rs#L122-L124.

[2017-10-17 05:04] Susurrus commented on #995
@kivikakk The only supported file endings by Commonmark is `.md` and `.markdown` according to the `text/markdown` MIME type [RFC7763](https://tools.ietf.org/html/rfc7763).

[2017-10-17 05:22] kivikakk commented on #995
@Susurrus I don't disagree, but RFCs and reality are two very different things. I can find thousands (!) of examples of the alternatives not listed in the RFC by searching around here.

[2017-10-17 05:24] kivikakk commented on #995
It's worth noting RFC7763 refers to Markdown, and not CommonMark.  The CommonMark spec doesn't suggest anything about file endings.

(Notably, RFC7764 — while maintaining that ".md" and ".markdown" are the suggested file endings — also [refers to ".mkd" files a few times](https://tools.ietf.org/html/rfc7764#section-4.7))

[2017-10-17 12:41] treiff commented on #544
I'll take look at this. 😄

[2017-10-17 19:00] Boscop opened #1135 "On each crate's page, show a list of crates commonly used in conjunction with this crate"
On the IRC someone was asking for ways to explore the crate ecosystem...
That gave me an idea for a suggestion:
On each crate's page, show a list of crates commonly used by other crates who use this crate.
As a "crate recommendation system" similar to Amazon's "people who bought this also bought these items".
Here is an example output:
[code]

Here the code, under 50 lines (currently it only looks

[2017-10-17 21:51] seanlinsley commented on #1058
Sorry for the delay on this; picking it back up today.

[2017-10-17 22:05] Deedasmi commented on #1041
Just tagging #370 on here as an alternative and #159 as a motivation.

[2017-10-17 22:08] seanlinsley commented on #1058
`cargo clean` indeed worked. I'm not familiar enough with the problem space to suggest a fix.

I didn't delete the database myself like described in #988. I thought I'd seen an exception during the test setup when running `cargo test` for the first time, but that doesn't seem to have been the case...

[2017-10-17 22:37] seanlinsley commented on #1058
`encodable` should definitely send down this attribute, but what about `minimal_encodable`?

[2017-10-17 22:59] seanlinsley commented on #1058
It looks like the show action uses `encodable` and the index action uses `minimal_encodable`, so yes they both need to be updated.

Both the show & index actions already load all versions into memory:

https://github.com/rust-lang/crates.io/blob/ef1ac581f9c4ea6a906347d43776418acfdbb8ca/src/krate/mod.rs#L880-L882

https://github.com/rust-lang/crates.io/blob/ef1ac581f9c4ea6a906347d43776418acfdbb8ca/

[2017-10-17 23:12] seanlinsley commented on #1058
Using `select(exists())` was recommended, which would make sense for the index page. I'd usually expect to see that on the main select by joining the versions table, however the main select isn't currently joining other tables:

https://github.com/rust-lang/crates.io/blob/ef1ac581f9c4ea6a906347d43776418acfdbb8ca/src/krate/mod.rs#L602-L615

-------------------

The `summary` route has the same prob

[2017-10-17 23:20] seanlinsley commented on #1058
Ah, the problem with that is that the versions already loaded are excluding yanked versions.

Another thing to note is that it's not as simple as `select(exists())` or `.any(|v| !v.yanked)`, since you wouldn't want `all_versions_yanked` to equal true if it's a brand new crate that hasn't released and versions. Or is that not possible?